<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Underdogs">
        <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
        <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/bootflat.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/custom.css" type="text/css" rel="stylesheet">
        <script src="/assets/js/Chart.js"></script>
        {% block Styles %}{% endblock %}
        <title>{% block Title %}Underdogs{% endblock %}</title>
    </head>

    <body>
        <div class="content">
            <div class="container">
                <div class="row">
                    {% block Content %}{% endblock %}
                </div>
            </div>
            {% block Footer %}{% endblock %}
        </div>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        {% block Scripts %}{% endblock %}
    </body>

</html>