<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pirates">
        <link rel="icon" href="/assets/img/favicon.png" type="image/png">
        <link rel="shortcut icon" href="/favicon.ico">
        <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/bootflat.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/custom_new.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:800,800italic,700normal,700italic,600,100,400,500,500italic,600italic,700,400italic,300,300italic|Raleway:800,800italic,700normal,700italic,600,100,400,500,500italic,600italic,700,400italic,300,300italic">
        <link rel="stylesheet" href="/assets/css/fonts.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/assets/fonts/SanFrancisco/sample.css" type="text/css" media="all" />
        <script src="/assets/js/Chart.js"></script>
        {% block Styles %}{% endblock %}
        <title>{% block Title %}Pirates{% endblock %}</title>
    </head>

    <body class="scrollspied {% if not unscrolled %}scrolled{% endif %}" data-spy="scroll" data-target="#submenu">
        <header class="header">
            <div>
            {% block Navbar %}
                <div class="container top-nav {{nav_color}}">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand landing-logo" href="/new_home">
                        </a>
                        <a class="navbar-brand nav-left-copy" href="/new_home">PIRATES
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right main-nav-right">
                            {% if hide_navbar_join != 'true' %}
                                <li><a href="/startups/new_listing">STARTUPS</a></li>
                                <li><a href="/projects/list">PROJECTS</a></li>
                            {% endif %}
                            {% if hide_navbar_login != 'true' %}
                                {% if false|is_user_logged_in %}
                                    <li><a href="/member/profile">PROFILE</a></li>
                                    <li><a href="/member/logout">SIGN OUT</a></li>
                                {% else %}
                                    <li><a class="navbar-btn" href="/member/login?redirect_url=/">REGISTER</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% if show_sub_nav %}
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#submenu">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="nav-startup-name" href="#">{{name}}</a>
                        </div>
                        <div class="collapse navbar-collapse" id="submenu">
                            <ul class="nav navbar-nav sub-menu">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#design">Design</a></li>
                                <li><a href="#dev">Dev</a></li>
                                <li><a href="#community">Community</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                {% endif %}
            {% endblock %}
            </div>
        </header>
        <div class="content {% if not no_navbar_onload %}nav-offset{% endif %}">
            <div class="container">
                <div class="row">
                    {% block Content %}{% endblock %}
                </div>
            </div>
            {% block Footer %}
                {% include "components/footer.html" %}
            {% endblock %}
        </div>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.stellar.min.js"></script>
        <script src="/assets/js/new_base.js"></script>
        <script src="/assets/js/scroll_nav.js"></script>
        <script>
            $(document).ready(function(){
                $(window).stellar(
                    {
                        horizontalOffset: 0,
                        verticalOffset: 0
                    }
                );
            });
            $(document).ready(function(){
                $('.sub-menu>li>a').click(function(event){
                    event.preventDefault();
                    var id = $(this).attr('href');
                    var scrollTop = $(id).offset().top - 110;
                    $(window).scrollTop(scrollTop);
                    $('.sub-menu>li').each(function(){
                        $(this).removeClass('active');
                    });
                    $(this).parent().addClass('active');
                });
            });
        </script>
        {% block Scripts %}{% endblock %}
    </body>

</html>