<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pirates">
        <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png">
        <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/bootflat.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/custom.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700|Raleway:800,800italic,700normal,700italic,600,100,400,500,500italic,600italic,700,400italic,300,300italic">
        <script src="/assets/js/Chart.js"></script>
        {% block Styles %}{% endblock %}
        <title>{% block Title %}Pirates{% endblock %}</title>
    </head>

    <body>
        <header class="header">
            <div>
            {% block Navbar %}
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="/assets/img/logo.png"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if hide_navbar_join != 'true' %}
                                <li><a href="/startups/registration">Add Startup</a></li>
                            {% endif %}
                            {% if hide_navbar_login != 'true' %}
                                {% if false|is_user_logged_in %}
                                    <li><a href="/member/profile">Profile</a></li>
                                    <li><a href="/member/logout">Log Out</a></li>
                                {% else %}
                                    <li><a href="/member/login?redirect_url=/">Log In</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
            </div>
        </header>
        <div class="content nav-offset">
            <div class="container">
                <div class="row">
                    {% block Content %}{% endblock %}
                </div>
            </div>
            {% block Footer %}{% endblock %}
        </div>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.stellar.min.js"></script>
        <script>
            $(document).ready(function(){
                $(window).stellar(
                    {
                        horizontalOffset: 0,
                        verticalOffset: 0
                    }
                );
                $(window).scroll(function(){
                    var top = $('body').scrollTop();
                    if(top <= 0) {
                        $('body').removeClass('scrolled');
                    } else {
                        if(!$('body').hasClass('scrolled')){
                            $('body').addClass('scrolled');
                        }
                    }
                });
            });
        </script>
        <script>
            function drawDonutChart(e) {
                var score = e.getElementsByClassName("score_value")[0].value;
                if(score != 'no_load') {
                    e.getElementsByClassName("score_text")[0].innerHTML = parseInt(score*100)+'%';
                    var full_color = e.getElementsByClassName("full_color")[0].value;
                    var empty_color = e.getElementsByClassName("empty_color")[0].value;
                    var doughnutData = [
                        {
                            value: parseInt(score*100),
                            color: full_color
                        },
                        {
                            value: 100-parseInt(score*100),
                            color: empty_color
                        }
                    ];
                    var scoreDonut = new Chart(e.getElementsByClassName("donut_canvas")[0].getContext("2d")).Doughnut(doughnutData, { tooltipCaretSize: 2,tooltipXOffset: 0{% if tooltip_font_size%},tooltipFontSize:{{tooltip_font_size}}{% endif %} });
                }
            }

            $(document).ready(function(){
                $('.donut_td').each(function(){
                    drawDonutChart(this);
                });

                $('.score_text').css('font-size',{{score_font_size}}+'px');
            });

        </script>
        {% block Scripts %}{% endblock %}
    </body>

</html>