<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Pirates">
        <link rel="icon" href="/assets/img/favicon.png" type="image/png">
        <link rel="shortcut icon" href="/favicon.ico">
        <link href="/assets/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/bootflat.min.css" type="text/css" rel="stylesheet">
        <link href="/assets/css/custom_new.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:800,800italic,700normal,700italic,600,100,400,500,500italic,600italic,700,400italic,300,300italic|Raleway:800,800italic,700normal,700italic,600,100,400,500,500italic,600italic,700,400italic,300,300italic">
        <link rel="stylesheet" href="/assets/fonts/SanFrancisco/sample.css" type="text/css" media="all" />
        <script src="/assets/js/Chart.js"></script>
        {% block Styles %}{% endblock %}
        <title>{% block Title %}Pirates{% endblock %}</title>
    </head>

    <body style="position:relative">
        <header class="header {{nav_color}}">
            <div>
            {% block Navbar %}
                <div class="container">
                    <div class="navbar-header">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand landing-logo" href="/new_home">
                                </a>
                            </div>
                            <div class="col-md-9 nav-left-copy">
                                <div class="row">PIRATES</div>
                                <div class="row"><span class="blue-font">Not</span> invented here</div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            {% if hide_navbar_join != 'true' %}
                                <li><a href="/startups/new_listing">STARTUPS</a></li>
                                <li><a href="/projects/list">PROJECTS</a></li>
                            {% endif %}
                            {% if hide_navbar_login != 'true' %}
                                {% if false|is_user_logged_in %}
                                    <li><a href="/member/profile">PROFILE</a></li>
                                    <li><a href="/member/logout">SIGN OUT</a></li>
                                {% else %}
                                    <li><a href="/member/login?redirect_url=/">SIGN UP</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
            </div>
        </header>
        <div class="content {% if not no_navbar_onload %}nav-offset{% endif %}">
            <div class="container">
                <div class="row">
                    {% block Content %}{% endblock %}
                </div>
            </div>
            {% block Footer %}{% endblock %}
        </div>
        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/jquery.stellar.min.js"></script>
        <script src="/assets/js/new_base.js"></script>
        <script>
            $(document).ready(function(){
                $(window).stellar(
                    {
                        horizontalOffset: 0,
                        verticalOffset: 0
                    }
                );
                $(window).scroll(function(){
                    var top = $('body').scrollTop();
                    if(top <= 0) {
                        $('body').removeClass('scrolled');
                    } else {
                        if(!$('body').hasClass('scrolled')){
                            $('body').addClass('scrolled');
                        }
                    }
                });
            });
        </script>
        {% block Scripts %}{% endblock %}
    </body>

</html>