{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            {% if not signup %}
            <p class="nouser-title">
            We do not have a user registered with us with that email address. <a href="/member/signup_email">Click here to Signup</a>.
            </p>
            {% else %}
            <p class="nouser-title">
            Please check your email and click on the confirmation link to create an account with us.
            </p>
            {% endif %}
        </div>
        <div class="col-lg-3">
        </div>
    </div>
{% endblock %}