{% extends "base.html" %}

{% block Content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Companies you have started or are a part of:</h4>
                <div class="row">
                    {% for company in companies %}
                    <div class="col-sm-6 col-md-3 list-row original-pos">
                        <a href="/member/list?company_id={{company.id}}">
                            <div class="thumbnail company-dashboard-thumbnail">
                                <img class="img-rounded company-img" src="{% if company.image %}/api/common/download_image/{{company.image}}{% else %}/assets/img/company/company.png{% endif %}">
                                <div class="caption text-center">
                                    <h3>{{company.name}}</h3>
                                    <p>{% if company.admin %}Admin{% else %}Team Member{% endif %}</p>
                                    <div class="donut_td">
                                        {% include "components/donut_chart.html" with donut_score=company.influence donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    {% include "components/donut_chart_script.html" %}
    <script src="/assets/js/listing_animation.js"></script>
{% endblock %}