{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/registration.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <script type="text/javascript">
        function triggerDataPull(){
            $.ajax({
                url: '/api/members/pull_data?company_id={{ company_id }}',
                type: 'PUT',
                success: function(result) {
                    alert('We are working our magic. You will see your scores in no time!');
                    window.location='/member/list?company_id=' + {{company_id}};
                }
            });
            return false;
        }
    </script>
    {% include "components/registration.html" with idx=breadcrumb_idx outside_form_contents="components/member_expose_data_outside_form_contents.html" %}
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/jQuery.WCircleMenu-min.js"></script>
    <script>
        $('#menu_icon').WCircleMenu({
            width: '54px',
            height: '54px',
            angle_start : 0,//-Math.PI/2,
            delay: 50,
            distance: 200,
            angle_interval: Math.PI/4,
            easingFuncShow:"easeOutBack",
            easingFuncHide:"easeInBack",
            openCallback:changeIcon,
            closeCallback:changeIcon,
            step:35,
            itemRotation:360,
            iconRotation:0
        });

        function changeIcon(){
            console.log('click, '+$($('.wcircle-icon').find('p')[0]).text());
            if($($('.wcircle-icon').find('p')[0]).text() == 'OPEN') {
                console.log('plus');
                $('.wcircle-icon').addClass('active');
                $($('.wcircle-icon').find('p')[0]).text('CLOSE');
            } else {
                console.log('minus');
                $('.wcircle-icon').removeClass('active');
                $($('.wcircle-icon').find('p')[0]).text('OPEN');
            }
        }
    </script>
{% endblock %}
