{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/registration.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <script type="text/javascript">
        function triggerDataPull(){
            $.ajax({
                url: '/api/members/pull_data?company_id={{ company_id }}',
                type: 'PUT',
                success: function(result) {
                    alert('We are working our magic. You will see your scores in no time!');
                    window.location='/member/list?company_id=' + {{company_id}};
                }
            });
            return false;
        }
    </script>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="registration-title center-align">Click below to add social data</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 registration-container">
            <div class="panel registration-panel">
                {% include "components/registration_breadcrumbs.html" with idx="1" %}
                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        <div class="top-padding-sm expose-data-form">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-10">
                                    <div id="menu_icon" class="menu-icon">
                                        <div class="wcircle-icon">
                                            <p class="icon-text">OPEN</p>
                                        </div>
                                        <div class="wcircle-menu" style="display:none;">
                                            <div class="wcircle-menu-item">
                                            </div>
                                            <div class="wcircle-menu-item">
                                            </div>
                                            <div class="wcircle-menu-item">
                                            </div>
                                            <div class="wcircle-menu-item">
                                            </div>
                                            <div class="wcircle-menu-item">
                                                <a href="{{dribbble_auth_url}}" class="btn btn-bootflat sd-btn round-btn"><i class="fa fa-dribbble fa-fw"></i> <span class="network-name network-name-padding">Dribbble</span></a>
                                            </div>
                                            <div class="wcircle-menu-item">
                                                <a href="{{odesk_auth_url}}" class="btn btn-bootflat sd-btn round-btn"><i class="fa fa-circle-o fa-fw"></i> <span class="network-name network-name-padding">o-Desk</span></a>
                                            </div>
                                            <div class="wcircle-menu-item">
                                                <a href="{{linkedin_auth_url}}" class="btn btn-bootflat sd-btn round-btn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name network-name-padding">Linkedin</span></a>
                                            </div>
                                            <div class="wcircle-menu-item">
                                                <a href="{{github_auth_url}}" class="btn btn-bootflat sd-btn round-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name network-name-padding">Github</span></a>
                                            </div>
                                            <div class="wcircle-menu-item">
                                                <a href="{{angellist_auth_url}}" class="btn btn-bootflat sd-btn round-btn"><i class="fa fa-angellist fa-fw"></i> <span class="network-name network-name-padding">Angellist</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                     <div class="row center-align">
                                         <div class="col-xs-12 margin-auto">
                                             <a href="" class="btn btn-bootflat sd-btn" onclick="return triggerDataPull()"><i class="fa-fw"></i> <span class="network-name">Kick off analytics!</span></a>
                                         </div>
                                     </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/jQuery.WCircleMenu-min.js"></script>
    <script>
        $('#menu_icon').WCircleMenu({
            width: '54px',
            height: '54px',
            angle_start : 0,//-Math.PI/2,
            delay: 50,
            distance: 200,
            angle_interval: Math.PI/4,
            easingFuncShow:"easeOutBack",
            easingFuncHide:"easeInBack",
            openCallback:changeIcon,
            closeCallback:changeIcon,
            step:35,
            itemRotation:360,
            iconRotation:0
        });

        function changeIcon(){
            console.log('click, '+$($('.wcircle-icon').find('p')[0]).text());
            if($($('.wcircle-icon').find('p')[0]).text() == 'OPEN') {
                console.log('plus');
                $('.wcircle-icon').addClass('active');
                $($('.wcircle-icon').find('p')[0]).text('CLOSE');
            } else {
                console.log('minus');
                $('.wcircle-icon').removeClass('active');
                $($('.wcircle-icon').find('p')[0]).text('OPEN');
            }
        }
    </script>
{% endblock %}
