{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/registration.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <script type="text/javascript">
        function triggerDataPull(){
            $.ajax({
                url: '/api/members/pull_data?company_id={{ company_id }}',
                type: 'PUT',
                success: function(result) {
                    alert('We are working our magic. You will see your scores in no time!');
                    window.location='/member/list?company_id=' + {{company_id}};
                }
            });
            return false;
        }
    </script>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="center-align">Add one or more of the below social data</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                {% include "components/registration_breadcrumbs.html" with idx="1" %}
                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        <div class="top-padding-sm expose-data-form">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-4"><a href="{{linkedin_auth_url}}" class="btn btn-bootflat sd-btn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a></div>
                                        <div class="col-lg-4"><a href="{{github_auth_url}}" class="btn btn-bootflat sd-btn"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></div>
                                        <div class="col-lg-4"><a href="{{angellist_auth_url}}" class="btn btn-bootflat sd-btn"><i class="fa fa-angellist fa-fw"></i> <span class="network-name">Angellist</span></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4"><a href="{{dribbble_auth_url}}" class="btn btn-bootflat sd-btn"><i class="fa fa-dribbble fa-fw"></i> <span class="network-name">Dribbble</span></a></div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                     <div class="row">
                                         <div class="col-lg-2"></div>
                                         <div class="col-lg-10">
                                             <a href="" class="btn btn-bootflat sd-btn" onclick="return triggerDataPull()"><i class="fa-fw"></i> <span class="network-name">Kick off analytics!</span></a>
                                         </div>
                                         <div class="col-lg-2"></div>
                                     </div>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
