{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/get-started.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_login='true' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block PaddedContent %}
	<div class="col-sm-12">
		<div class="center-align">
			{% include "components/scrollable.html" %}
		</div>
	</div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/get_started.js"></script>
{% endblock %}