{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/get-started.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_login='true' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block PaddedContent %}
	<div class="col-sm-12">
		<div class="width960 center-align">
			<div class="row">
				<div class="col-sm-12">
					<p class="title">I NEED AN APP TO BE BUILT</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<p class="body">And I would like to</p>
						</div>
						<div class="col-sm-2">
			                {% include "components/link_button.html" with link="" value="Hire Pirates" classes="btn-blue" %}
						</div>
						<div class="col-sm-4"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="title">I WORK AT A STARTUP</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="body">And I would like to <a>Join Pirates</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}