{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/registration.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="registration-title center-align">INVITE A TEAM MEMBER</h2>
        </div>
    </div>
    {% include "components/registration.html" with idx=breadcrumb_idx form_contents="components/member_invite_form_contents.html" outside_form_contents="components/member_invite_outside_form_contents.html" form_classes="invite-member-form" onsubmit="return validate()" %}
{% endblock %}

{% block Scripts %}
    <script type="text/javascript">
        function done_inviting(){
            window.location='{{done_redirect}}';
            return false;
        }
        $(document).ready(function(){
            if("{{error}}") {
                $('.error-message').show();
                $('.error-message p').html("{{error}}");
            }
            if("{{success}}") {
                alert("{{success}}");
            }
        });
    </script>
{% endblock %}