{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/registration.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="center-align">Enter member details and we will send him a mail</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                {% include "components/registration_breadcrumbs.html" with idx="1" %}
                <div class="tab-content">
                    <div class="tab-pane fade active in">
                        <div class="top-padding-sm invite-member-form">
                            {% include "components/form_input.html" with id="new_member_email" name="email" placeholder="Email" %}
                            {% include "components/form_captcha.html" with captcha=captcha %}
                            {% include "components/form_error_message.html" with captcha=captcha %}
                            <div class="row">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <input type="button" id="done" value="Done inviting!" onclick="return done_inviting();" class="btn btn-bootflat pull-right" style="margin-left:10px;">
                                    <input type="button" id="invite" value="Invite" onclick="return validate();" class="btn btn-bootflat pull-right">
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    {% include "components/captcha_script.html" %}
    <script type="text/javascript">
        function invite_by_email(){
            email = $('#new_member_email').val();
            $.post('/api/members/invite?company_id={{company_id}}&amp;email=' + email,
                   function(data){
                        alert('Successfully sent invite!');
                        $('#new_member_email').val('');
                   });
            return false;
        }

        function done_inviting(){
            window.location='/member/expose_third_party?company_id=' + {{company_id}};
            return false;
        }

        function validate() {
            $('.error-message').html("");
            $('.error-message').hide();
            if(validate_email($('#new_member_email').val())) {
                validate_captcha();
            } else {
                $('.error-message').show();
                $('.error-message').html("Invalid Email");
                $('#new_member_email').focus();
            }
        }

        function validate_email(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        function validate_captcha() {
            $.post('/api/common/validate_captcha',{'recaptcha_challenge_field':Recaptcha.get_challenge(),'recaptcha_response_field':Recaptcha.get_response()})
            .done(function(data){
                if(data.solution_correct) {
                    invite_by_email();
                } else {
                    $('.error-message').show();
                    $('.error-message').html("Incorrect Captcha");
                    $('#captcha').focus();
                }
                Recaptcha.reload();
            });
        }
    </script>
{% endblock %}