{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/landing.css" type="text/css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="/assets/css/new_landing.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/listing_new.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <div class="col-lg-12">
        <div id="section1-carousel" class="carousel slide" data-interval="3000" data-pause="false">
            <div class="carousel-inner" style="height:100%">
                <div id="section-1" class="item active fullscreen-section" style="background:url('/assets/img/landing/landing_1.png');">
                    <div class="landing-overlay overlay"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="center-align landing-copy width960">PIRATES<br> <del class="landing-strike"><span class="blue-font">Not</span></del> Invented Here</p>
                        </div>
                    </div>
                    {% include "components/get_started_button.html" %}
                </div>
                <div id="section-2" class="item fullscreen-section" style="background:url('/assets/img/landing/landing_2.png');">
                    <div class="landing-overlay overlay"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="center-align landing-copy width960">All great products are built<br> by small teams of Pirates</p>
                        </div>
                    </div>
                    {% include "components/get_started_button.html" %}
                </div>
                <div id="section-3" class="item fullscreen-section" style="background:url('/assets/img/landing/landing_3.png');">
                    <div class="landing-overlay overlay"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="center-align landing-copy width960">Pirates are small teams of<br> engineers and designers</p>
                        </div>
                    </div>
                    {% include "components/get_started_button.html" %}
                </div>
                <div id="section-4" class="item fullscreen-section" style="background:url('/assets/img/landing/landing_4.png');">
                    <div class="landing-overlay overlay"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="center-align landing-copy width960">Pirates are unburdened<br> by the chains of legacy</p>
                        </div>
                    </div>
                    {% include "components/get_started_button.html" %}
                </div>
            </div>
        </div>
        <div class="fullscreen-section white-background">
            <div class="row">
                <div class="col-lg-12">
                    <p class="first-content section-slide-2-copy">You can't outsource innovation<br> But you can <span class="section-slide-2-special-copy">HIRE THE BEST STARTUPS</span></p>
                </div>
            </div>
            <div class="row">
                {% for startup in startups %}
                <div class="col-md-4 list-row">
                    <a href="/member/new_list?company_id={{startup.0}}">
                        <div class="thumbnail company-dashboard-thumbnail company-img" style="background-image:url('{% if startup.1.image %}/api/common/download_image/{{startup.1.image}}{% else %}/assets/img/company/company.png{% endif %}');">
                            <div class="caption text-center wrapped">
                                <h3 class="caption-name">{{startup.1.name}}</h3>
                                <p class="caption-profile">'{% if startup.1.hello %}{{startup.1.hello}}{% endif %}'</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="fullscreen-section dark-background">
            <div class="row">
                <div class="col-lg-12">
                    <p class="first-content section-slide-3-copy">Every Pirate team has</p>
                </div>
            </div>
            <div class="row section-slide-3-center-margin">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 section-slide-3-img" style="background-image:url('/assets/img/landing/slide-3-1.png')">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="section-slide-3-copy-small">Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 section-slide-3-img" style="background-image:url('/assets/img/landing/slide-3-2.png')">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="section-slide-3-copy-small">Back end Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 section-slide-3-img" style="background-image:url('/assets/img/landing/slide-3-3.png')">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="section-slide-3-copy-small">Mobile Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullscreen-section" style="background-image:url('/assets/img/landing/slide-4-bg.png')">
            <div class="row">
                <div class="col-lg-12">
                    <p class="center-align landing-copy width960">The Pirates community assures<br> high quality of design through<br> a community review process</p>
                </div>
            </div>
        </div>
        <div class="fullscreen-section" style="background-image:url('/assets/img/landing/slide-5-bg.png')">
            <div class="row">
                <div class="col-lg-12">
                    <p class="center-align landing-copy width960">The dev community assures<br> a high quality of code through a<br> peer review process</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/landing.js"></script>
    <script>
        $(document).ready(function(){
            $('.company-img').mouseover(function(){
                $(this).find('.caption').css('opacity', 1);
            });
            $('.company-img').mouseout(function(){
                $(this).find('.caption').css('opacity', 0);
            });
        });
    </script>
{% endblock %}