{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/landing.css" type="text/css" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="/assets/css/new_landing.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/listing_new.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <div class="col-lg-12">
        <div id="section1-carousel" class="carousel slide" data-interval="3000" data-pause="false">
            <div class="stationary">
                <div class="width960 center-align">
                    <div class="row">
                        <div class="col-lg-12 landing-copy-big">
                            <span>BUILD TOGETHER</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 landing-copy-small">
                            <span>Hire creative startups to build innovative apps</span>
                        </div>
                    </div>
                </div>
                {% include "components/get_started_button.html" %}
            </div>
            <div class="carousel-inner" style="height:100%">
                <div class="item active fullscreen-section" style="background:url('/assets/img/landing/landing_1.png');">
                    <div class="landing-overlay overlay"></div>
                </div>
                <div class="item fullscreen-section" style="background:url('/assets/img/landing/landing-carousel-2.jpg');">
                    <div class="landing-overlay overlay"></div>
                </div>
                <div class="item fullscreen-section" style="background:url('/assets/img/landing/landing-carousel-3.png');">
                    <div class="landing-overlay overlay"></div>
                </div>
                <div class="item fullscreen-section" style="background:url('/assets/img/landing/landing-carousel-4.jpg');">
                    <div class="landing-overlay overlay"></div>
                </div>
                <div class="item fullscreen-section" style="background:url('/assets/img/landing/landing-carousel-5.jpg');">
                    <div class="landing-overlay overlay"></div>
                </div>
            </div>
        </div>
        <div class="fullscreen-section white-background">
            <div class="width960">
                <div class="row sec-steve-content">
                    <div class="col-sm-6 bg-img-fullscreen sec-steve-img" style="background-image:url('{{steve_img}}')">
                    </div>
                    <div class="col-sm-6">
                        <div class="row sec-steve-copy-big">
                            <span>It's better to be a pirate than join the navy</span>
                        </div>
                        <div class="row sec-steve-copy-medium">
                            <span>Steve Jobs, 1984</span>
                        </div>
                        <div class="row sec-steve-copy-small">
                            <span>Urban legend has it that the original Macintosh team flew a Pirate flag over the building as they raced against time and naysayers to build the Mac.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullscreen-section dark-background">
            <div class="width960">
                <div class="row">
                    <div class="col-sm-12 section-slide-3-copy">
                        <span>{{sec_3_copy_big}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6 section-slide-3-copy-medium">
                        <span>{{sec_3_copy_medium}}</span>
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                <div class="row section-slide-3-center-margin">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="section-slide-3-img-container">
                                <div class="section-slide-3-img" style="background-image:url('/assets/img/landing/slide-3-1.png')"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="section-slide-3-copy-small">Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="section-slide-3-img-container">
                                <div class="section-slide-3-img" style="background-image:url('/assets/img/landing/slide-3-2.png')"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="section-slide-3-copy-small">Back end<br> Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="section-slide-3-img-container">
                                <div class="section-slide-3-img" style="background-image:url('/assets/img/landing/slide-3-3.png')"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="section-slide-3-copy-small">Mobile<br> Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullscreen-section white-background">
            <div class="width960">
                <div class="row">
                    <div class="col-sm-12 sec-startups-copy-big sec-startups-copy-big-1">
                        <span>{{startups_copy_big_1}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="sec-startups-img" style="background-image:url('/assets/img/landing/slide-startups-1.png')"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 sec-startups-img-copy-big">
                                <span>Haggle</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 sec-startups-img-copy-small">
                                <span>Your World. Your Price.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="sec-startups-img" style="background-image:url('/assets/img/landing/slide-startups-2.png')"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 sec-startups-img-copy-big">
                                <span>Color Door</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 sec-startups-img-copy-small">
                                <span>Rent broker free</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="sec-startups-img" style="background-image:url('/assets/img/landing/slide-startups-3.png')"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 sec-startups-img-copy-big">
                                <span>Haze</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 sec-startups-img-copy-small">
                                <span>Transparent healthcare for all</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 sec-startups-copy-big sec-startups-copy-big-2">
                        <span>{{startups_copy_big_2}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 sec-startups-copy-medium">
                        <span>{{startups_copy_medium}}</span>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <div class="row sec-startups-donuts">
                    {% for donut in donut_scores %}
                    <div class="col-sm-4">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=donut.1 donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="sec-startups-donut-title">{{donut.0}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="section4-carousel" class="carousel slide" data-interval="false" data-pause="false">
            <ol class="carousel-indicators">
                <li data-target="#section4-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#section4-carousel" data-slide-to="1"></li>
            </ol>  
            <div id="sec4-slide1-copy" class="stationary show-element">
                <div class="width960">
                    <div class="row">
                        <div class="col-sm-12 carousel-2-copy-big">
                            <span>{{carousel_2_1_copy_big|linebreaksbr}}</span>
                        </div>
                    </div>
                    <div class="row member-row">
                        <div class="col-sm-2 col-xs-5">
                            <div class="member-picture" style="background-image:url('{{carousel_2_1_img_1}}');"></div>
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            <div class="row carousel-2-copy-medium">
                                <span>{{carousel_2_1_des_1_copy_1}}</span>
                            </div>
                            <div class="row carousel-2-copy-small">
                                <span>{{carousel_2_1_des_1_copy_2}}</span>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-2"></div>
                    </div>
                    <div class="row member-row-last">
                        <div class="col-sm-5 col-xs-2"></div>
                        <div class="col-sm-5 col-xs-5">
                            <div class="row carousel-2-copy-medium">
                                <span>{{carousel_2_1_des_2_copy_1}}</span>
                            </div>
                            <div class="row carousel-2-copy-small">
                                <span>{{carousel_2_1_des_2_copy_2}}</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5">
                            <div class="member-picture" style="background-image:url('{{carousel_2_1_img_2}}');"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sec4-slide2-copy" class="stationary hide-element">
                <div class="width960">
                    <div class="row">
                        <div class="col-sm-12 carousel-2-copy-big">
                            <span>{{carousel_2_2_copy_big|linebreaksbr}}</span>
                        </div>
                    </div>
                    <div class="row member-row">
                        <div class="col-sm-2 col-xs-5">
                            <div class="member-picture" style="background-image:url('{{carousel_2_2_img_1}}');"></div>
                        </div>
                        <div class="col-sm-5 col-xs-5">
                            <div class="row carousel-2-copy-medium">
                                <span>{{carousel_2_2_des_1_copy_1}}</span>
                            </div>
                            <div class="row carousel-2-copy-small">
                                <span>{{carousel_2_2_des_1_copy_2}}</span>
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-2"></div>
                    </div>
                    <div class="row member-row-last">
                        <div class="col-sm-5 col-xs-2"></div>
                        <div class="col-sm-5 col-xs-5">
                            <div class="row carousel-2-copy-medium">
                                <span>{{carousel_2_2_des_2_copy_1}}</span>
                            </div>
                            <div class="row carousel-2-copy-small">
                                <span>{{carousel_2_2_des_2_copy_2}}</span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-5">
                            <div class="member-picture" style="background-image:url('{{carousel_2_2_img_2}}');"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-inner" style="height:100%">
                <div id="sec4-slide1" class="item active fullscreen-section carousel-2-slide" style="background:url('/assets/img/landing/slide-4-bg.png');"></div>
                <div id="sec4-slide2" class="item fullscreen-section carousel-2-slide" style="background:url('/assets/img/landing/slide-5-bg.png');"></div>
            </div>
            <a class="carousel-control left" href="#section4-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#section4-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div class="fullscreen-section white-background">
            <div class="row">
                <div class="col-lg-12">
                    <p class="first-content section-slide-6-copy">Track the progress of your project in<br> real time through modern Saas tools</p>
                </div>
            </div>
            <div class="row section-slide-6-center-margin width960">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12 section-slide-6-img" style="background-image:url('/assets/img/landing/invision.png')">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12 section-slide-6-img" style="background-image:url('/assets/img/landing/marvel.png')">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12 section-slide-6-img" style="background-image:url('/assets/img/landing/protoio.png')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row section-slide-6-img-row-margin width960">
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12 section-slide-6-img" style="background-image:url('/assets/img/landing/github.png')">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12 section-slide-6-img" style="background-image:url('/assets/img/landing/ellipse.png')">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <div class="col-xs-12 section-slide-6-img" style="background-image:url('/assets/img/landing/slack.png')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fullscreen-section" style="background:url('/assets/img/landing/slide-7-bg.png');">
            <div class="width960">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="center-align landing-copy landing-copy-bottom-padding">All the IP generated from the project<br> is secure and 100% owned by you</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/landing.js"></script>
    {% include "components/new_donut_chart_script.html" %}
    <script>
        $(document).ready(function(){
            $('.company-img').mouseover(function(){
                $(this).find('.caption').css('opacity', 1);
                $(this).find('.company-image').css('z-index', -100);
            });
            $('.company-img').mouseout(function(){
                $(this).find('.caption').css('opacity', 0);
                $(this).find('.company-image').css('z-index', 100);
            });
        });
    </script>
{% endblock %}