{% extends "base.html" %}

{% block Content %}
    <div class="container page-content">
        <div class="row top-padded landing-section" data-stellar-ratio="0.5" data-stellar-background-ratio="0.9" style="top:50px;left:80px;">
            <div class="col-lg-12">
                <img class="horizontal-center bottom-margin-md " src="/assets/img/landing/machine.png">
                <p class="landing-selection landing-big-font">All big things are accomplished by small teams</p>
                <p class="landing-selection landing-big-font">Pirates is a platform for enterprises to connect with the best startups to build products for them</p>
            </div>
        </div>
        {% include "components/icons.html" with icons=startup_icons speed="1" top="900" left="0"%}
        {% include "components/icons.html" with icons=enterprise_icons speed="1" top="1200" left="0" %}
    </div>
{% endblock %}