{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fonts/SanFrancisco/lightondark.css" type="text/css" media="all" />
{% endblock %}

{% block Content %}
    <div class="col-lg-12">
        <div id="section1-carousel" class="carousel slide" style="height:100%;" data-interval="3000" data-pause="false">
            <div class="carousel-inner" style="height:100%">
                <div id="section-1" class="item active fullscreen-section" style="background:url('/assets/img/landing/landing_1.png');">
                    <img class="landing_logo" src="/assets/img/logo_color.png">
                    <div class="landing-overlay overlay"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="center-align landing-copy width960">All great products are built by small teams of Pirates</p>
                        </div>
                    </div>
                </div>
                <div id="section-2" class="item fullscreen-section" style="background:url('/assets/img/landing/landing_2.png');">
                    <img class="landing_logo" src="/assets/img/logo_color.png">
                    <div class="landing-overlay overlay"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="center-align landing-copy width960">Pirates are small teams of engineers and designers</p>
                        </div>
                    </div>
                </div>
                <div id="section-3" class="item fullscreen-section" style="background:url('/assets/img/landing/landing_3.png');">
                    <img class="landing_logo" src="/assets/img/logo_color.png">
                    <div class="landing-overlay overlay"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="center-align landing-copy width960">Pirates are unburdened by the chains of legacy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/landing.js"></script>
{% endblock %}