{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/landing.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <div id="section-1" class="landing-section">
        <div class="row">
            <div class="col-lg-12">
                <img src="/assets/img/pirates.png" class="landing-pirate-img pull-left">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="blue-font lead center-align landing-section1-copy">All great products are built by small teams of pirates</p>
            </div>
        </div>
    </div>
    <div id="section-2" class="landing-section blue-background">
        <div class="row">
            <div class="col-lg-12">
                <p class="white-font lead center-align landing-copy">Pirates are small teams of engineers and designers unburdened by the chains of legacy</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/landing.js"></script>
{% endblock %}