{% extends "base.html" %}

{% block Content %}
    <div class="container">
        <div class="row top-padded landing-section">
            <div class="col-lg-12">
                <p class="landing-selection landing-big-font">All big things are accomplished by small teams</p>
            </div>
        </div>
        {% include "components/icons.html" with icons=startup_icons %}
        {% include "components/icons.html" with icons=enterprise_icons %}
        <div class="row landing-section">
            <div class="col-lg-12">
                <p class="landing-selection landing-big-font">A platform for enterprises to connect with the best startups to build products for them</p>
            </div>
        </div>
        <div class="row top-padded bottom-padded">
            {% for key, value in footer_buttons.items %}
                <div class="col-lg-3 col-lg-offset-2">
                    <a href="{{key}}" class="btn btn-bootflat sd-btn"><span class="network-name">{{value}}</span></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}