{% extends "base.html" %}

{% block Scripts %}
{% endblock %}

{% block Content %}
    <script type="text/javascript">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '329949690519073',
            xfbml      : false,
            version    : 'v2.1',
            status     : false
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk/debug.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

        function add_member(){
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

            function statusChangeCallback(response){
                if(response.status === "not_authorized" || response.status === "unknown"){
                    window.location = '/member/login?create_user=true&company_id={{company_id}}';
                }
                else if(response.status === "connected"){
                    var accessToken = response.authResponse.accessToken;
                    var userID = response.authResponse.userID;
                    FB.api('/me', function(response) {
                    var name = JSON.stringify(response.name);
                    var redirect_url = "/users/facebook/callback?name=" + name + "&company_id={{company_id}}&access_token=" + accessToken + "&create_user=true" + "&id=" + userID + "&network=facebook" {% if redirect_url %} + "&redirect_url=" + "{{ redirect_url }}" {% endif %};
                    window.location = redirect_url;
                });
                }
            }
            return false;
        }

        function triggerDataPull(){
            $.ajax({
                url: '/api/members/pull_data?company_id={{ company_id }}',
                type: 'PUT',
                success: function(result) {
                    console.log('Triggered data pull');
                }
            });
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{name}}</h3>
                <h3 class="page-header">
                    <small>Influence:</small>
                    <canvas id="companyinfluencedonut{{forloop.counter}}" height="80" width="80" class="donut_canvas"></canvas>
                    <span class="score-text" id="companyinfluencedonuttext{{forloop.counter}}"></span>
                    <script>
                        var doughnutData = [
                                {
                                    value: parseInt({{influence}}*100),
                                    color:"#68dff0"
                                },
                                {
                                    value: 100-parseInt({{influence}}*100),
                                    color:"#bdfdfd"
                                }
                            ];
                        var companyInfluenceDonut = new Chart(document.getElementById("companyinfluencedonut{{forloop.counter}}").getContext("2d")).Doughnut(doughnutData);
                        document.getElementById("companyinfluencedonuttext{{forloop.counter}}").innerHTML = parseInt({{influence}}*100)+'%';
                    </script>
                    <small>Expertise:</small>
                    <select id="company-expertise-select">
                    <option id="companyitem0" value="">Select Expertise</option>
                    {% for item in expertise %}
                    <option id="companyitem{{forloop.counter}}" value=""></option>
                    <script>
                        var str = '{{item}}';
                        var arr = str.split(' : ');
                        document.getElementById("companyitem{{forloop.counter}}").innerHTML = arr[0];
                        document.getElementById("companyitem{{forloop.counter}}").setAttribute('value', parseFloat(arr[1])*100);
                    </script>
                    {% endfor %}
                    </select>
                    <canvas id="companyexpertisedonut" height="80" width="80" class="donut_canvas"></canvas>
                    <span class="score-text" id="companyexpertisedonuttext{{forloop.counter}}"></span>
                    <script>
                        document.getElementById("company-expertise-select").onchange = function() {
                            var doughnutData = [
                                {
                                    value: parseInt(this.value),
                                    color:"#68dff0"
                                },
                                {
                                    value: 100-parseInt(this.value),
                                    color:"#bdfdfd"
                                }
                            ];
                            var companyExpertiseDonut = new Chart(document.getElementById("companyexpertisedonut").getContext("2d")).Doughnut(doughnutData);
                            document.getElementById("companyexpertisedonuttext{{forloop.counter}}").innerHTML = parseInt(this.value)+'%';
                        }
                    </script>
                </h3>
            </div>
        </div>
        {% ifequal access_type "admin" %}
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Add team member
                        <a href="/member/add?company_id={{ company_id }}" onclick="return add_member();"><small>Click here</small></a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Acquire data
                        <a href="" onclick="return triggerDataPull();"><small>Click here</small></a>
                    </h4>
                </div>
            </div>
        {% endifequal %}
        {% if access_type == "admin" or access_type == "member"%}
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Team members</h4>
                    <div class="container">
                        <div class="row">
                            <table class="table table-hover scores-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Member</th>
                                        <th>Influence</th>
                                        <th>Expertise</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for member in users %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{member.name}}</td>
                                        <td>
                                            <canvas id="influencedonut{{forloop.counter}}" height="80" width="80" class="donut_canvas"></canvas>
                                            <span class="score-text" id="influencedonuttext{{forloop.counter}}"></span>
                                            <script>
                                                var doughnutData = [
                                                        {
                                                            value: parseInt({{member.influence}}*100),
                                                            color:"#68dff0"
                                                        },
                                                        {
                                                            value: 100-parseInt({{member.influence}}*100),
                                                            color:"#bdfdfd"
                                                        }
                                                    ];
                                                var influenceDonut = new Chart(document.getElementById("influencedonut{{forloop.counter}}").getContext("2d")).Doughnut(doughnutData);
                                                document.getElementById("influencedonuttext{{forloop.counter}}").innerHTML = parseInt({{member.influence}}*100)+'%';
                                            </script>
                                        </td>
                                        <td>
                                            <select id="expertise-select{{forloop.counter}}">
                                            <option id="item{{forloop.parentloop.counter}}0" value="">Select Expertise</option>
                                            {% for item in member.expertise %}
                                            <option id="item{{forloop.parentloop.counter}}{{forloop.counter}}" value=""></option>
                                            <script>
                                                var str = '{{item}}';
                                                var arr = str.split(' : ');
                                                document.getElementById("item{{forloop.parentloop.counter}}{{forloop.counter}}").innerHTML = arr[0];
                                                document.getElementById("item{{forloop.parentloop.counter}}{{forloop.counter}}").setAttribute('value', parseFloat(arr[1])*100);
                                            </script>
                                            {% endfor %}
                                            </select>
                                            <canvas id="expertisedonut{{forloop.counter}}" height="80" width="80" class="donut_canvas"></canvas>
                                            <span class="score-text" id="expertisedonuttext{{forloop.counter}}"></span>
                                            <script>
                                                document.getElementById("expertise-select{{forloop.counter}}").onchange = function() {
                                                    var doughnutData = [
                                                        {
                                                            value: parseInt(this.value),
                                                            color:"#68dff0"
                                                        },
                                                        {
                                                            value: 100-parseInt(this.value),
                                                            color:"#bdfdfd"
                                                        }
                                                    ];
                                                    var expertiseDonut = new Chart(document.getElementById("expertisedonut{{forloop.counter}}").getContext("2d")).Doughnut(doughnutData);
                                                    document.getElementById("expertisedonuttext{{forloop.counter}}").innerHTML = parseInt(this.value)+'%';
                                                }
                                            </script>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}