{% extends "base_padded.html" %}

{% block Scripts %}
    <script type="text/javascript">
        function sort(data){
            var column = $(data).attr("id");
            var order = "{{ order }}"; 
            if (order == "desc"){
                order = "asc";
            } else {
                order = "desc";
            }
            window.location.replace("/projects/list?order=" + order + "&column=" + column);
        };
    </script>
    <script src="/assets/js/listing_animation.js"></script>
    <script>
        $(document).ready(function(){
            $('.project-image').mouseover(function(){
                $(this).find('.caption').css('opacity', 1);
            });
            $('.project-image').mouseout(function(){
                $(this).find('.caption').css('opacity', 0);
            });
        });
        function set_copy(window_width, window_height) {
        }
    </script>
{% endblock %}

{% block Styles %}
    <link href="/assets/css/listing_new.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/projects.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div id="featured_project">
        
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row startup-title list-group-item">
                <span>FEATURED PROJECTS</span>
            </div>
            <div class="row project-image-section">
                {% for project in projects %}
                    <div class="col-md-4 list-row">
                        <div class="row">
                            <span>{{project.title}}</span>
                        </div>
                        <a href="/projects/upcoming/details?id={{project.id}}">
                            <div class="thumbnail company-dashboard-thumbnail project-image" style="background-image:url('{% if project.image %}/api/common/download_image/{{project.image}}{% else %}/assets/img/company/company.png{% endif %}');">
                                <div class="caption text-center wrapped">
                                    <p class="caption-profile">{{project.description}}</p>
                                    <p class="project-company">{{project.company}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}