{% extends "base.html" %}

{% block Scripts %}
{% endblock %}

{% block Content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{name}}
                    <small>Influence:</small>
                    <canvas id="companyinfluencedonut{{forloop.counter}}" height="80" width="80" class="donut_canvas"></canvas>
                    <script>
                        var doughnutData = [
                                {
                                    value: {{influence}}*100,
                                    color:"#68dff0"
                                },
                                {
                                    value: 100-{{influence}}*100,
                                    color:"#bdfdfd"
                                }
                            ];
                        var companyInfluenceDonut = new Chart(document.getElementById("companyinfluencedonut{{forloop.counter}}").getContext("2d")).Doughnut(doughnutData);
                    </script>
                    <small>Expertise:</small>
                    <select id="company-expertise-select">
                    <option id="companyitem0" value="">Select Expertise</option>
                    {% for item in expertise %}
                    <option id="companyitem{{forloop.counter}}" value=""></option>
                    <script>
                        var str = '{{item}}';
                        var arr = str.split(' : ');
                        document.getElementById("companyitem{{forloop.counter}}").innerHTML = arr[0];
                        document.getElementById("companyitem{{forloop.counter}}").setAttribute('value', parseFloat(arr[1])*100);
                    </script>
                    {% endfor %}
                    </select>
                    <canvas id="companyexpertisedonut" height="80" width="80" class="donut_canvas"></canvas>
                    <script>
                        document.getElementById("company-expertise-select").onchange = function() {
                            var doughnutData = [
                                {
                                    value: parseInt(this.value),
                                    color:"#68dff0"
                                },
                                {
                                    value: 100-parseInt(this.value),
                                    color:"#bdfdfd"
                                }
                            ];
                            var companyExpertiseDonut = new Chart(document.getElementById("companyexpertisedonut").getContext("2d")).Doughnut(doughnutData);
                        }
                    </script>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Add team member
                    <a href="/member/add?company_id={{ company_id }}"><small>Click here</small></a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Acquire data
                    <a href="/api/members/pull_data?company_id={{ company_id }}"><small>Click here</small></a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">Team members</h4>
                <div class="container">
                    <div class="row">
                        <table class="table table-hover scores-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Member</th>
                                    <th>Influence</th>
                                    <th>Expertise</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in users %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{member.name}}</td>
                                    <td>
                                        <canvas id="influencedonut{{forloop.counter}}" height="80" width="80" class="donut_canvas"></canvas>
                                        <script>
                                            var doughnutData = [
                                                    {
                                                        value: {{member.influence}}*100,
                                                        color:"#68dff0"
                                                    },
                                                    {
                                                        value: 100-{{member.influence}}*100,
                                                        color:"#bdfdfd"
                                                    }
                                                ];
                                            var influenceDonut = new Chart(document.getElementById("influencedonut{{forloop.counter}}").getContext("2d")).Doughnut(doughnutData);
                                        </script>
                                    </td>
                                    <td>
                                        <select id="expertise-select">
                                        <option id="item0" value="">Select Expertise</option>
                                        {% for item in member.expertise %}
                                        <option id="item{{forloop.counter}}" value=""></option>
                                        <script>
                                            var str = '{{item}}';
                                            var arr = str.split(' : ');
                                            document.getElementById("item{{forloop.counter}}").innerHTML = arr[0];
                                            document.getElementById("item{{forloop.counter}}").setAttribute('value', parseFloat(arr[1])*100);
                                        </script>
                                        {% endfor %}
                                        </select>
                                        <canvas id="expertisedonut" height="80" width="80" class="donut_canvas"></canvas>
                                        <script>
                                            document.getElementById("expertise-select").onchange = function() {
                                                var doughnutData = [
                                                    {
                                                        value: parseInt(this.value),
                                                        color:"#68dff0"
                                                    },
                                                    {
                                                        value: 100-parseInt(this.value),
                                                        color:"#bdfdfd"
                                                    }
                                                ];
                                                var expertiseDonut = new Chart(document.getElementById("expertisedonut").getContext("2d")).Doughnut(doughnutData);
                                            }
                                        </script>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}