{% extends "base_padded.html" %}

{% block Scripts %}
    <script type="text/javascript">
        function sort(data){
            var column = $(data).attr("id");
            var order = "{{ order }}"; 
            if (order == "desc"){
                order = "asc";
            } else {
                order = "desc";
            }
            window.location.replace("/projects/list?order=" + order + "&column=" + column);
        };
    </script>
    <script src="/assets/js/listing_animation.js"></script>
    <script>
        $(document).ready(function(){
            $('.project-image').mouseover(function(){
                $(this).find('.caption').css('opacity', 1);
            });
            $('.project-image').mouseout(function(){
                $(this).find('.caption').css('opacity', 0);
            });
        });
        function set_copy(window_width, window_height) {
        }
    </script>
{% endblock %}

{% block Styles %}
    <link href="/assets/css/listing_new.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/projects.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="col-lg-12">
        <div class="width960 center-align">
            <div id="featured_project">
                <div class="row featured-project-title">
                    <h1 class="center-align">COMFORT: A SUCCESS STORY</h1>
                </div>
                <div class="row" style="background-image:url('/assets/img/projects/listing/app_showcase.png');background-repeat:no-repeat; background-position: center center; height:600px"></div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">
                        <p class="normal-copy">
                            HealthCo (name changed) is a Fortune 500 Health Insurance Company. They selected the New York startup Haze to build Comfort, their new Health Insurance app, targeted towards a younger demographic.
                        </p>
                    </div>
                </div>
                <div class="row profile-data-expose-btn" style="text-align:center">
                    <a href="{{linkedin_auth_url}}" class="btn btn-bootflat sd-btn">
                        <span class="network-name">VIEW CASE</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row projects-list-heading">
                        <h2>FEATURED PROJECTS</h2>
                    </div>
                    <div class="row project-image-section">
                        {% for row in project_rows %}
                            <div class="row list-row">
                            {% for project in row %}
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="section-slide-3-img-container">
                                            <div class="section-slide-3-img" style="background-image:url('{% if project.image %}/api/common/download_image/{{project.image}}{% else %}/assets/img/company/company.png{% endif %}')"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="header-3 dark-font center-align section-slide-3-copy-small">{{project.title}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="normal-copy blue-font center-align section-slide-3-copy-small">{{project.category}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}