{% extends "base_padded.html" %}

{% block Scripts %}
    <script src="/assets/js/listing_animation.js"></script>
{% endblock %}

{% block Styles %}
    <link href="/assets/css/scss_out/projects.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="row" style="text-align: center;">
        <div class="col-sm-12">
            <div class="title">
                <h1>COMFORT: A SUCCESS STORY</h1>
            </div>
            <div class="row img-row comfort-image" style="background-image:url('/assets/img/projects/listing/app_showcase.png');background-repeat:no-repeat; background-position: center center; height:600px"></div>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    <p class="normal-copy">
                        HealthCo (name changed) is a Fortune 500 Health Insurance Company. They selected the New York startup Haze to build Comfort, their new Health Insurance app, targeted towards a younger demographic.
                    </p>
                </div>
            </div>
            {% include "components/link_button.html" with link="/projects/study?name=comfort" value="VIEW CASE" classes="btn-blue" %}
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-sm-12">
            <div class="title">
                <h1>FEATURED PROJECTS</h1>
            </div>
            {% for row in project_rows %}
                <div class="row">
                {% for project in row %}
                    <div class="col-sm-4">
                        {% if project.url %}<a href="{{project.url}}">{% endif %}
                            <img class="project-logo" src="{{project.image}}">
                            <h3>{{project.title}}</h3>
                            <p class="normal-copy project-category">{{project.category}}</p>
                        {% if project.url %}</a>{% endif %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}