{% extends "base.html" %}

{% block Content %}
	<div class="container">
		<div class="row top-padded">
			<p class="landing-selection">We do not have you on record. What would you like to do?</p>
		</div>
        <div class="row top-padded">
            <div class="col-lg-3 col-lg-offset-1">
                <a href="/">
                    <p class="landing-selection">Take me home</p>
                </a>
            </div>
            <div class="col-lg-3 col-lg-offset-1">
                <a href="/startups/registration">
                    <p class="landing-selection">I will register my startup</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}