{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/jasny-bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/profile.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="center-align">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="profile-edit-title">Edit Profile</h3>
                <hr class="intro-divider">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" action="{{form_url}}" method="POST" onsubmit="return validate()" enctype="multipart/form-data">
                            {% include "components/form_image.html" with name="uploaded_photo" button_text="Change" image=member.image %}
                            {% include "components/form_input.html" with id="name" name="name" placeholder="Name" value=member.name %}
                            {% include "components/form_input.html" with type="password" id="password" name="password" placeholder="New Password" %}
                            {% include "components/form_input.html" with type="password" id="confirm-password" name="confirm_password" placeholder="Confirm New Password" %}
                            <input type="hidden" id="image" name="image" value="{{member.image}}">
                            {% include "components/form_error_message.html" %}
                            {% include "components/form_submit.html" with value="Update" %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script>
        function validate() {
            if($('#password').val() && $('#password').val() != $('#confirm-password').val()) {
                $('.error-message').show();
                $('.error-message p').html("Passwords don't match");
                $('#password').focus();
                return false;
            } else {
                $('.error-message').html("");
                $('.error-message').hide();
            }
        }
    </script>
    <script src="/assets/js/fileinput.js"></script>
{% endblock %}