{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/jasny-bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/registration.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_join='true' hide_navbar_login='true' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block Content %}
    <h3 class="center-align">Create an account</h3>
    <div style="text-align:center;background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" action="/api/members/finish_signup" method="POST">
                        <div class="col-lg-12">
                            {% include "components/form_input.html" with id="email" name="email" placeholder="Email" %}
                            {% include "components/form_input.html" with id="name" name="name" placeholder="Name" %}
                            {% include "components/form_input.html" with type="password" id="password" name="password" placeholder="Password" %}
                            <input type="hidden" name="network" value="{{network}}">
                            <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-bootflat">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
