{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_login='true' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block Content %}
    <script type="text/javascript">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '329949690519073',
            xfbml      : false,
            version    : 'v2.1',
            status     : false
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk/debug.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

        function facebookLogin(){
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

            function statusChangeCallback(response){
                if(response.status === "not_authorized" || response.status === "unknown"){
                    FB.login(function(response){    
                        if(response.status === "connected")
                            handleLoggedInUser(response);
                    });
                }
                else if(response.status === "connected"){
                    handleLoggedInUser(response);
                }
            }

            function handleLoggedInUser(response){
                var accessToken = response.authResponse.accessToken;
                var userID = response.authResponse.userID;
                FB.api('/me', function(response) {
                    var name = JSON.stringify(response.name);
                    var redirect_url = "/users/facebook/callback?name=" + name + "&company_id={{company_id}}&access_token=" + accessToken + "&create_user={{create_user}}" + "&id=" + userID + "&network=facebook" {% if redirect_url %} + "&redirect_url=" + "{{ redirect_url }}" {% endif %};
                    window.location = redirect_url;
                });
            }
        }
    </script>
    <div style="text-align:center;background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h1>Sign In</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a class="btn btn-bootflat sd-btn" onclick=facebookLogin()><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Use Facebook</span></a>
                            </li>
                            <li>
                                <a href="{{twitter_login_url}}" class="btn btn-bootflat sd-btn"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Use Twitter</span></a>
                            </li>
                            <li>
                                <a href="{{linkedin_login_url}}" class="btn btn-bootflat sd-btn"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Use LinkedIn</span></a>
                            </li>
                        </ul>
                        <hr class="intro-divider">
                        <h1>Sign In With Email</h1>
                        <form role="form" action="{{login_form_url}}">
                            <div class="col-lg-12">
                                {% include "components/form_input.html" with id="email" name="email" placeholder="Email" %}
                                {% include "components/form_input.html" with type="password" id="password" name="password" placeholder="Password" %}
                                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-bootflat">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
