{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_login='true' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block Content %}
    <div class="container nav-padded page-padding bottom-padded center-align">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="login-title">Social Sign In</h2>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    {% for network in  networks %}
                        <li>
                            <a class="btn btn-bootflat sd-btn" href='{{network.url}}'>
                                <i class="fa fa-{{network.name}} fa-fw"></i>
                                <span class="network-name">Use {{network.display_name}}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <h2 class="login-title">Sign In With Email</h2>
                <hr class="intro-divider">
                <form role="form" action="{{login_form_url}}" method="POST">
                    <div class="col-sm-12">
                        {% include "components/form_input.html" with id="email" name="email" placeholder="Email" other="required" type="email" %}
                        {% include "components/form_input.html" with type="password" id="password" name="password" placeholder="Password" other="required" %}
                        {% include "components/form_submit.html" with value="Submit" %}
                    </div>
                </form>
                <h6>Need an account? <a href="/member/signup_email">Sign Up</a></h6>
            </div>
        </div>
    </div>
{% endblock %}
