{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_login='true' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block Content %}
    <div style="text-align:center;background-size:cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h2>Sign In</h2>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            {% for network in  networks %}
                                <li>
                                    <a class="btn btn-bootflat sd-btn" href='{{network.url}}'>
                                        <i class="fa fa-{{network.name}} fa-fw"></i> 
                                        <span class="network-name">Use {{network.display_name}}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <hr class="intro-divider">
                        <h2>Sign In With Email</h2>
                        <form role="form" action="{{login_form_url}}" method="POST">
                            <div class="col-lg-12">
                                {% include "components/form_input.html" with id="email" name="email" placeholder="Email" %}
                                {% include "components/form_input.html" with type="password" id="password" name="password" placeholder="Password" %}
                                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-bootflat">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
