{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/exposedata.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_login='false' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block PaddedContent %}
    <div class="center-align">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="login-title">Sign Up With Email</h2>
                <hr class="intro-divider">
                <form role="form" action="{{login_form_url}}" method="POST" onsubmit="return validate()">
                    <div class="col-sm-12">
                        {% include "components/form_input.html" with id="email" name="email" placeholder="Email" other="required" type="email" value=email %}
                        {% include "components/form_captcha.html" with captcha=captcha %}
                        {% include "components/form_error_message.html" %}
                        {% include "components/form_submit.html" with value="Verify Email" %}
                    </div>
                </form>
                <h6>Already have an account? <a href="/member/login">Log in</a></h6>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    {% include "components/captcha_script.html" %}
{% endblock %}
