{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/jasny-bootstrap.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/registration.css" type="text/css" rel="stylesheet">
    <link href="/assets/css/jquery.fs.scroller.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Navbar %}
  {% with hide_navbar_join='true' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block Content %}
	<h3 class="center-align">Project Info</h3>
    <div class="row">
    	<form role="form" action={{ form_url }} method="POST" enctype="multipart/form-data">
            <div class="col-lg-12">
                {% include "components/form_input.html" with id="project-title" name="project_title" placeholder="Project Title" other="required" %}
                {% include "components/form_image.html" with name="project_image" button_text="Select Image" %}
                {% include "components/form_single_select.html" with id="category-select" name="category_select" other="onchange='updateProjectCategory()'" options=categories title="Select Category" %}
                {% include "components/form_select.html" with id="skills-select" name="skills_select" other="multiple onchange='updateProjectSkills()'" options=skills title="Select Skills" %}
                {% include "components/form_textarea.html" with id="description" name="description" placeholder="Description" rows="10" other="required" %}
                {% include "components/form_input.html" with id="project-bid" name="project_bid" placeholder="Bid" other="required" %}
                {% include "components/form_input.html" with type="date" id="project-end-date" name="project_end_date" placeholder="End Date" other="required" %}
                <input type="hidden" id="project-skills" name="project_skills">
                <input type="hidden" id="category" name="category">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" name="submit" id="submit" value="Create Project" class="btn btn-bootflat pull-right">
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
    	</form>
    </div>
	
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/jquery.fs.selecter.min.js"></script>
    <script src="/assets/js/jquery.fs.scroller.min.js"></script>
    <script src="/assets/js/add_selecter.js"></script>
    <script src="/assets/js/projects.js"></script>
{% endblock %}