{% extends "base_new.html" %}

{% block Scripts %}
    <script src="/assets/js/listing_animation.js"></script>
{% endblock %}

{% block Styles %}
{% endblock %}

{% block Content %}
    <div class="container nav-padded page-padding bottom-padded">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="overview">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="startup-logo" style="background-image:url('{% if image %}/api/common/download_image/{{image}}{% else %}/assets/img/company/company.png{% endif %}');"></div>
                            </div>
                            <div class="col-md-10 startup-copy">
                                <div class="row startup-name">
                                    <h3>{{title}}</h3>
                                </div>
                                <div class="row startup-desc">
                                    <p>{{description}}</p>
                                </div>
                                <h4>Category</h4>
                                <div class="row startup-desc">
                                    <p>{{category}}</p>
                                </div>
                                <h4>Skills Required</h4>
                                <div class="row startup-desc">
                                    <div class="col-sm-6 col-xs-12 list-group">
                                        {% if skills %}
                                            {% for skill in skills %}
                                                <div class="row original-pos list-group-item">{{skill}}</div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="row list-group-item">No Skills Specified</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <h4>Bid</h4>
                                <div class="row startup-desc">
                                    <p>${{bid}}</p>
                                </div>
                                <h4>Need completed by</h4>
                                <div class="row startup-desc">
                                    <p>{{end_date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}