{% extends "base_new.html" %}

{% block Scripts %}
    <script src="/assets/js/listing_animation.js"></script>
    {% include "components/new_donut_chart_script.html" %}
{% endblock %}

{% block Styles %}
    <link href="/assets/css/study.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <div class="fullscreen-section sec-1 white-font center-align" style="background:url('{{sec_1_bg}}');">
        <div class="width960">
            <div class="row sec-1-title">
                <span>{{sec_1_title}}</span>
            </div>
            <div class="row sec-1-subtitle">
                <span>{{sec_1_subtitle}}</span>
            </div>
        </div>
    </div>
    <div class="white-background fullscreen-section">
        <div class="width960">
            <div class="row title">
                <span>{{sec_2_title}}</span>
            </div>
            <div class="row copy sec-2-copy">
                <span>{{sec_2_copy|linebreaksbr}}</span>
            </div>
        </div>
    </div>
    <div class="fullscreen-section sec-3 white-font" style="background:url('{{sec_3_bg}}');">
        <div class="width960">
            <div class="row title">
                <span>{{sec_3_title}}</span>
            </div>
            <div class="row copy sec-3-copy">
                <span>{{sec_3_copy|linebreaksbr}}</span>
            </div>
            <div class="row sec-3-subtitle">
                <span>{{sec_3_subtitle}}</span>
            </div>
            <div class="row sec-3-donuts">
                {% for donut in donuts %}
                <div class="col-sm-4">
                    {% include "components/new_donut_chart.html" with donut=donut %}
                    <p class="sec-3-donut-title">{{donut.title}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="white-background fullscreen-section">
        <div class="width960">
            <div class="row startup-founder">
                <div class="row founder-picture" style="background-image:url('{{founder_image}}');"></div>
                <div class="row founder-name"><span>{{founder_name}}</span></div>
                <div class="row founder-desc"><span>{{founder_desc}}</span></div>
            </div>
            <div class="row copy sec-4-copy">
                <span>{{sec_4_copy|linebreaksbr}}</span>
            </div>
        </div>
    </div>
    <div id="joint-sprints" class="white-background fullscreen-section">
        <div class="centered-full-screen-element">
            <div class="width960">
                <div class="row title">
                    <span>JOINT SPRINTS</span>
                </div>
                <div class="row copy">
                    <span>
                        Once we'd fixed on the concept of comfort, we started with a joint backlog for Design and Development.
                        This was user to estimate and prioritize our work effort over 8 weeks.. We worked through our backlog
                        in weekly sprints, building the product out, experimenting with different design directions, and
                        gradually refining the experience.
                    </span>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4"><div class="dark-circle"></div></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><div class="dark-circle"></div></div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row title">
                    <span>WE DESIGNED IN CODE</span>
                </div>
                <div class="row copy">
                    <span>
                    It was important for us to get to working software as quickly as possible. Ideas that seemed great
                    in theory, and even looked great in flat comps, often broke down once we tried them out in code. By
                    coding from the very beginning, we were able to short-circuit this process, accelerating design
                    cycles and buying more time for iteration..
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="branding" class="fullscreen-section branding white-font" style="background-image:url('{{branding_bg}}');">
        <div class="centered-full-screen-element">
            <div class="width960">
                <div class="row title">
                    <span>{{branding_title}}</span>
                </div>
                <div class="row copy">
                    <span>{{branding_copy_top|linebreaksbr}}</span>
                </div>
                <div class="row center-align">
                    <img class="auto-margin" src="{{branding_img}}">
                </div>
                <div class="row copy">
                    <span>{{branding_copy_bottom|linebreaksbr}}</span>
                </div>
            </div>
        </div>
    </div>
    {% for color in bg_colors %}
    <div class="app-shots fullscreen-section" style="background-color:{{color}}">
        <div class="centered-full-screen-element">
            <div class="row width960 center-align">
                <div class="col-sm-1"></div>
                <div class="col-sm-4"><img class="auto-margin" src="/assets/img/study/comfort_app_{{forloop.counter}}_a.png"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><img src="/assets/img/study/comfort_app_{{forloop.counter}}_b.png"></div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}