{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/visualiser.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
  	<div class="col-lg-6" id="companies">
		<p>Select company</p>
		<select class="form-control" onchange="reload()">
			{% for company in companies %}
				<option value="{{company.value}}">
					{{company.name}}
				</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-lg-6" id="members">
		<p>Select members</p>
		<select class="form-control" onchange="loadMemberData()">
		</select>
	</div>
	<div id="body">
	</div>
{% endblock %}

{% block Scripts %}
  <script src="/assets/js/d3.v3.min.js"></script>
  <script src="/assets/js/visualiser.js"></script>
  <script type="text/javascript">
  	populateMembers($('#companies select').val());
    render("company_id=" + $('#companies select').val());
  </script>
{% endblock %}
