{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/visualiser.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
  	{% include "components/form_select.html" with id="companies" name="companies" options=companies title="Select Company" other="onchange='reload()'"%}
	<div id="body">
	</div>
{% endblock %}

{% block Scripts %}
  <script src="/assets/js/d3.v3.min.js"></script>
  <script src="/assets/js/visualiser.js"></script>
  <script type="text/javascript">
    render($('#companies').val());
  </script>
{% endblock %}
