{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/visualiser.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="col-sm-5 col-xs-12" id="companies">
		<p>Select company</p>
		<select class="form-control" onchange="{% if for_profile %}updateMember(){% else %}reload(){% endif %}">
			{% for company in companies %}
				<option value="{{company.value}}"{% if for_profile %} id="{{company.member_id}}" name="{{company.member_name|escape}}"{% endif %}>
					{{company.name}}
				</option>
			{% endfor %}
		</select>
	</div>
    <div class="col-sm-2"></div>
	<div class="col-sm-5 col-xs-12" id="members">
		<p>Select members</p>
		<select {% if for_profile %}disabled{% endif %} class="form-control" {% if for_profile %}{% else %}onchange="loadMemberData()"{% endif %}>
		</select>
	</div>
	<div id="body">
	</div>
{% endblock %}

{% block Scripts %}
  <script src="/assets/js/d3.v3.min.js"></script>
  <script src="/assets/js/visualiser.js"></script>
  <script type="text/javascript">
    {% if for_profile %}
        updateMember();
    {% else %}
        populateMembers($('#companies select').val());
        render("company_id=" + $('#companies select').val());
    {% endif %}
  </script>
{% endblock %}
