{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/listing_new.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="col-lg-12">
        <div class="row">
            {% for startup in startups %}
            <div class="col-md-4 list-row original-pos">
                <a href="/member/new_list?company_id={{startup.0}}">
                    <div class="thumbnail company-dashboard-thumbnail company-img">
                        <img class="company-image" src="{% if startup.1.image %}/api/common/download_image/{{startup.1.image}}{% else %}/assets/img/company/company.png{% endif %}">
                        <div class="caption text-center wrapped">
                            <h3 class="caption-name">{{startup.1.name}}</h3>
                            <p class="caption-profile">{% if startup.1.hello %}{{startup.1.hello}}{% else %}&nbsp;{% endif %}</p>
                            <p class="caption-city">{% if startup.1.city %}{{startup.1.city}}{% endif %}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    {% include "components/donut_chart_script.html" %}
    <script src="/assets/js/listing_animation.js"></script>
    <script>
        $(document).ready(function(){
            $('.company-img').mouseover(function(){
                $(this).find('.caption').css('opacity', 1);
                $(this).find('.company-image').css('z-index', -100);
            });
            $('.company-img').mouseout(function(){
                $(this).find('.caption').css('opacity', 0);
                $(this).find('.company-image').css('z-index', 100);
            });
        });
        function set_copy(window_width, window_height) {
        }
    </script>
{% endblock %}