{% extends "base.html" %}

{% block Content %}
    <div class="container">
        <div class="row top-padded">
            <div class="col-lg-4 col-lg-offset-1">
                <a href="/startups/registration">
                    <p class="landing-selection">Register your startup</p>
                </a>
            </div>
            <div class="col-lg-2">
                <a href="">
                    <p class="landing-selection"></p>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/startups/hire/criteria">
                    <p class="landing-selection">Haggle for a startup</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}