{% extends "base.html" %}

{% block Styles %}
    <link href="/assets/css/jasny-bootstrap.css" type="text/css" rel="stylesheet">
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    </style>
{% endblock %}

{% block Content %}
    <div class="container">
        <div class="row">
            <form role="form" action={{ form_url }} method="POST" enctype="multipart/form-data">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="input-group">
                            <h3>Company Info</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Company Name" required>
                            <span class="input-group-addon"><span class="glyphicon"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img data-src="holder.js/100%x100%" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                                <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="company_image">
                                </span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Have them at hello!" required>
                            <span class="input-group-addon"><span class="glyphicon"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Website" required>
                            <span class="input-group-addon"><span class="glyphicon"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Profile</label>
                        <div class="input-group">
                            <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" placeholder="What makes your company different?" required></textarea>
                            <span class="input-group-addon"><span class="glyphicon"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div id="locationField">
                                <input id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text" placeholder="Location"></input>
                            </div>
                            <span class="input-group-addon"><span class="glyphicon"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Tags" required>
                            <span class="input-group-addon"><span class="glyphicon"></span></span>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="Create Company" class="btn btn-bootflat pull-right">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/fileinput.js"></script>
    <script src="/assets/js/jasny-bootstrap.js"></script>
    <script src="/assets/js/google-places.js"></script>
    <script type="text/javascript">
        var placeSearch, autocomplete;
        var componentForm = {
          street_number: 'short_name',
          route: 'long_name',
          locality: 'long_name',
          administrative_area_level_1: 'short_name',
          country: 'long_name',
          postal_code: 'short_name'
        };

        function initialize() {
          // Create the autocomplete object, restricting the search
          // to geographical location types.
          autocomplete = new google.maps.places.Autocomplete(
              (document.getElementById('autocomplete')),
              { types: ['geocode'] });
          // When the user selects an address from the dropdown,
          // populate the address fields in the form.
          google.maps.event.addListener(autocomplete, 'place_changed', function() {
            //fillInAddress();
          });
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
          if (navigator.geolocation) {
            initialize();
            navigator.geolocation.getCurrentPosition(function(position) {
              var geolocation = new google.maps.LatLng(
                  position.coords.latitude, position.coords.longitude);
              autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
                  geolocation));
            });
          }
        }
    </script>
{% endblock %}