{% extends "base_padded.html" %}

{% block Styles %}
    <link href="/assets/css/scss_out/startups.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    {% for startups_row in startups %}
        <div class="row">
            {% for startup in startups_row %}
            <div class="col-sm-4 original-pos" style="text-align:center;">
                <a href="{{startup.url}}">
                    <img class="startup-logo" src="{{startup.image}}">
                    <h3>{{startup.name}}</h3>
                    <p class="normal-copy">{{startup.hello|linebreaksbr}}</p>
                    <p class="normal-copy">{{startup.city}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block Scripts %}
    {% include "components/donut_chart_script.html" %}
    <script src="/assets/js/listing_animation.js"></script>
{% endblock %}