{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/jquery.fs.scroller.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <script type="text/javascript">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '329949690519073',
            xfbml      : false,
            version    : 'v2.1',
            status     : false
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

        function add_myself(){
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

            function statusChangeCallback(response){
                if(response.status === "not_authorized" || response.status === "unknown"){
                    window.location = '/member/login';
                }
                else if(response.status === "connected"){
                    var accessToken = response.authResponse.accessToken;
                    var userID = response.authResponse.userID;
                    FB.api('/me', function(response) {
                        var name = JSON.stringify(response.name);
                        var redirect_url = "/member/expose_third_party?company_id=" + {{ company_id }};
                        window.location = redirect_url;
                    });
                }
            }
            return false;
        }

        function triggerDataPull(){
            $.ajax({
                url: '/api/members/pull_data?company_id={{ company_id }}',
                type: 'PUT',
                success: function(result) {
                    console.log('Triggered data pull');
                }
            });
        }
    </script>
    <div class="container nav-padded" style="padding: 0px 90px;">
        <div class="row original-pos" id="overview">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="startup-logo" style="background-image:url('{% if image %}/api/common/download_image/{{image}}{% else %}/assets/img/company/company.png{% endif %}');"></div>
                    </div>
                    <div class="col-md-10 startup-copy">
                        <div class="row startup-name">
                            <p>{{name}}</p>
                        </div>
                        <div class="row startup-desc">
                            <p>{{hello}}</p>
                        </div>
                        <div class="row startup-desc">
                            <p>{{city}}</p>
                        </div>
                    </div>
                </div>
                <div class="row startup-title list-group-item">
                    <span>Scores</span>
                </div>
                <div class="row startup-details-content">
                    {% for donut in donut_scores %}
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=donut.1 donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">{{donut.0}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row startup-section original-pos" id="design">
            <div class="col-lg-12">
                <div class="row startup-title list-group-item">
                    <span class="design-logo"><img src="/assets/img/design-logo.png"></span><span>Design Stats</span>
                </div>
                <div class="row startup-details-content">
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=donut_scores.0.1 donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">Design</p>
                    </div>
                    <div class="col-md-8 design-table">
                        {% for stat in design_stats %}
                            <div class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p class="list-group-item-heading">{{stat.0}}</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <p class="list-group-item-text">{{stat.1}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row startup-title list-group-item">
                    <span class="design-logo"><img src="/assets/img/design-logo.png"></span><span>Design Portfolio</span>
                </div>
                <div class="row startup-details-content">
                    <div class="col-md-12">
                        {% for picture_row in pictures %}
                        <div class="row shot-row">
                            {% for picture_url in picture_row %}
                            <div class="col-md-4 shot" style="background-image:url('{{picture_url}}')"></div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row startup-section original-pos" id="dev">
            <div class="col-lg-12">
                <div class="row startup-title list-group-item">
                    <span class="dev-logo"><img src="/assets/img/dev-logo.png"></span><span>Dev Stats</span>
                </div>
                <div class="row startup-details-content" id="dev-stats-content">
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=donut_scores.0.1 donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">Development</p>
                    </div>
                    <div class="col-md-6">
                        <div id="accordion" class="panel-group dev-scores">
                            {% for stat in dev_stats %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                                                {{stat.0}}
                                                <span class="glyphicon glyphicon-chevron-down" style="float: right; padding-right:10px"/>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="dev-scores-table" id="dev-scores">
                                                <div class="list-group">
                                                {% for sec_stat in stat.1 %}
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <p class="list-group-item-heading">{{sec_stat.0}}</p>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <p class="list-group-item-text">
                                                                    {{sec_stat.1}}
                                                                </p>
                                                            </div>
                                                            <div class="col-lg-2 dev-scores-popover">
                                                                <a onmouseover="show_scores_popover(this, '{{sec_stat.0}}', '&lt;div class=&quot;dev-scores-table&quot;&gt;&lt;div class=&quot;list-group&quot;&gt;{% for stat in tl_stats %}&lt;div class=&quot;list-group-item&quot;&gt;&lt;div class=&quot;row&quot;&gt;&lt;div class=&quot;col-xs-10&quot;&gt;&lt;p class=&quot;list-group-item-heading&quot;&gt;{{stat.0}}&lt;&#x2F;p&gt;&lt;&#x2F;div&gt;&lt;div class=&quot;col-xs-2&quot;&gt;&lt;p class=&quot;list-group-item-text&quot;&gt;{{stat.1}}&lt;&#x2F;p&gt;&lt;&#x2F;div&gt;&lt;&#x2F;div&gt;&lt;&#x2F;div&gt;{% endfor %}&lt;&#x2F;div&gt;&lt;&#x2F;div&gt;')">
                                                                    <span class="glyphicon glyphicon-zoom-in"/>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="row startup-section original-pos" id="community">
            <div class="col-lg-12">
                <div class="row startup-title list-group-item">
                    <span class="dev-logo"><img src="/assets/img/dev-logo.png"></span><span>Community</span>
                </div>
                <div class="row startup-details-content">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/jquery.fs.selecter.min.js"></script>
    <script src="/assets/js/jquery.fs.scroller.min.js"></script>
    <script src="/assets/js/add_selecter.js"></script>
    {% include "components/new_donut_chart_script.html" %}
    <script src="/assets/js/listing_animation.js"></script>
    <script>
        function set_copy(window_width, window_height) {
        }

        function show_scores_popover(e, title, content) {
            var options = {'html':true,'content':content,'placement':'auto left','title':title, 'trigger':'click focus','viewport':'#dev-stats-content'}
            $(e).popover(options);
        }

        var chevToggle = true;

        function toggleChevron(e) {
            if($(e).hasClass('glyphicon-chevron-down')) {
                $(e).removeClass('glyphicon-chevron-down')
                $(e).addClass('glyphicon-chevron-up');
            } else if($(e).hasClass('glyphicon-chevron-up')) {
                $(e).removeClass('glyphicon-chevron-up')
                $(e).addClass('glyphicon-chevron-down');
            }
            chevToggle = true;
        }

        $('.collapse').on('shown.bs.collapse', function() {
            if(chevToggle) {
                var glyph = $(this).parent().find('.glyphicon-chevron-down');
                chevToggle = false;
                toggleChevron(glyph);
            }
        });

        $('.collapse').on('hidden.bs.collapse', function() {
            if(chevToggle) {
                var glyph = $(this).parent().find('.glyphicon-chevron-up');
                chevToggle = false;
                toggleChevron(glyph);
            }
        });
    </script>
{% endblock %}