{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/jquery.fs.scroller.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <script type="text/javascript">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '329949690519073',
            xfbml      : false,
            version    : 'v2.1',
            status     : false
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

        function add_myself(){
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

            function statusChangeCallback(response){
                if(response.status === "not_authorized" || response.status === "unknown"){
                    window.location = '/member/login';
                }
                else if(response.status === "connected"){
                    var accessToken = response.authResponse.accessToken;
                    var userID = response.authResponse.userID;
                    FB.api('/me', function(response) {
                        var name = JSON.stringify(response.name);
                        var redirect_url = "/member/expose_third_party?company_id=" + {{ company_id }};
                        window.location = redirect_url;
                    });
                }
            }
            return false;
        }

        function triggerDataPull(){
            $.ajax({
                url: '/api/members/pull_data?company_id={{ company_id }}',
                type: 'PUT',
                success: function(result) {
                    console.log('Triggered data pull');
                }
            });
        }
    </script>
    <div class="container nav-padded">
        <div class="row startup-section" id="overview">
            <div class="col-lg-12">
                <div class="row shadowed-box">
                    <div class="col-md-2">
                        <div class="startup-logo" style="background-image:url('{% if image %}/api/common/download_image/{{image}}{% else %}/assets/img/company/company.png{% endif %}');"></div>
                    </div>
                    <div class="col-md-10 startup-copy">
                        <div class="row startup-name">
                            <p>{{name}}</p>
                        </div>
                        <div class="row startup-desc">
                            <p>{{hello}}</p>
                        </div>
                        <div class="row startup-desc">
                            <p>{{profile}}</p>
                        </div>
                    </div>
                </div>
                <div class="row startup-title">
                    <p>Scores</p>
                </div>
                <div class="row shadowed-box">
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=score_design donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">Design</p>
                    </div>
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=score_development donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">Development</p>
                    </div>
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=score_community donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">Community</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row startup-section" id="design">
            <div class="col-lg-12">
                <div class="row startup-title">
                    <p>Design Stats</p>
                </div>
                <div class="row shadowed-box">
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=score_design donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">Design</p>
                    </div>
                    <div class="col-md-8 design-table">
                        <div class="row">
                            <div class="col-md-8 right-down-shadow left-align">
                                <p>Live Apps</p>
                            </div>
                            <div class="col-md-2 right-down-shadow center-align">
                                <p>{{design_stats.live_apps}}</p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 right-down-shadow left-align">
                                <p>Shots</p>
                            </div>
                            <div class="col-md-2 right-down-shadow center-align">
                                <p>{{design_stats.shots}}</p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 right-down-shadow left-align">
                                <p>Likes</p>
                            </div>
                            <div class="col-md-2 right-down-shadow center-align">
                                <p>{{design_stats.likes}}</p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 right-down-shadow left-align">
                                <p>Followers</p>
                            </div>
                            <div class="col-md-2 right-down-shadow center-align">
                                <p>{{design_stats.followers}}</p>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row startup-title">
                    <p>Design Portfolio</p>
                </div>
                <div class="row shadowed-box">
                    <div class="col-md-12">
                        {% for picture_row in design_stats.pictures %}
                        <div class="row shot-row">
                            {% for picture_url in picture_row %}
                            <div class="col-md-4 shot" style="background-image:url('{{picture_url}}')"></div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row startup-section" id="dev">
            <div class="col-lg-12">
                <div class="row startup-title">
                    <p>Dev Stats</p>
                </div>
                <div class="shadowed-box">

                </div>
            </div>
        </div>
        <div class="row startup-section" id="community">
            <div class="col-lg-12">
                <div class="row startup-title">
                    <p>Community</p>
                </div>
                <div class="shadowed-box">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/jquery.fs.selecter.min.js"></script>
    <script src="/assets/js/jquery.fs.scroller.min.js"></script>
    <script src="/assets/js/add_selecter.js"></script>
    {% include "components/new_donut_chart_script.html" %}
    <script src="/assets/js/listing_animation.js"></script>
    <script>
        function set_copy(window_width, window_height) {
        }
    </script>
{% endblock %}