{% extends "base_new.html" %}

{% block Styles %}
    <link href="/assets/css/jquery.fs.scroller.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block Content %}
    <script type="text/javascript">
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '329949690519073',
            xfbml      : false,
            version    : 'v2.1',
            status     : false
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

        function add_myself(){
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });

            function statusChangeCallback(response){
                if(response.status === "not_authorized" || response.status === "unknown"){
                    window.location = '/member/login';
                }
                else if(response.status === "connected"){
                    var accessToken = response.authResponse.accessToken;
                    var userID = response.authResponse.userID;
                    FB.api('/me', function(response) {
                        var name = JSON.stringify(response.name);
                        var redirect_url = "/member/expose_third_party?company_id=5348024557502464";
                        window.location = redirect_url;
                    });
                }
            }
            return false;
        }

        function triggerDataPull(){
            $.ajax({
                url: '/api/members/pull_data?company_id=5348024557502464',
                type: 'PUT',
                success: function(result) {
                    console.log('Triggered data pull');
                }
            });
        }
    </script>
    <div class="container nav-padded">
        <div class="row original-pos" id="overview">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="startup-logo" style="background-image:url('{% if image %}/api/common/download_image/{{image}}{% else %}/assets/img/company/company.png{% endif %}');"></div>
                    </div>
                    <div class="col-md-10 startup-copy">
                        <div class="row startup-name">
                            <p>{{name}}</p>
                        </div>
                        <div class="row startup-desc">
                            <p>{{hello}}</p>
                        </div>
                        <div class="row startup-desc">
                            <p>{{city}}</p>
                        </div>
                        <div class="row startup-desc">
                            <p>{{profile}}</p>
                        </div>
                    </div>
                </div>
                <div class="row startup-title list-group-item">
                    <span>Scores</span>
                </div>
                <div class="row startup-details-content">
                    {% for donut in donut_scores %}
                    <div class="col-md-4 expertise-td-donut">
                        <div class="donut_td">
                            {% include "components/new_donut_chart.html" with donut_score=donut.1 donut_size=donut_size tooltip_font_size=tooltip_font_size %}
                        </div>
                        <p class="score-desc">{{donut.0}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="/assets/js/jquery.fs.selecter.min.js"></script>
    <script src="/assets/js/jquery.fs.scroller.min.js"></script>
    <script src="/assets/js/add_selecter.js"></script>
    {% include "components/new_donut_chart_script.html" %}
    <script src="/assets/js/listing_animation.js"></script>
    <script>
        function set_copy(window_width, window_height) {
        }

        function show_scores_popover(e, title, content) {
            var options = {'html':true,'content':content,'placement':'auto left','title':title, 'trigger':'click focus','viewport':'#dev-stats-content'}
            $(e).popover(options);
        }
    </script>
{% endblock %}