
<!DOCTYPE html>
<html class="ocks-org do-not-copy">
<meta charset="utf-8">
<title>The Wealth &amp; Health of Nations</title>
<style>

#chart {
  margin-left: -40px;
  height: 506px;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.skill.label {
  font: 300 196px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

</style>

<p id="chart"></p>
<select class="form-control" id="skill_selector" onchange="reload()">
    {% for skill in skills %}
      <option value="{{skill}}">{{skill}}</option>
    {% endfor %}
</select>

<script type="text/javascript">
  function reload(){
    d3.select('svg').remove();
    render_chart($('#skill_selector').val());
  }
</script>

<script src="/assets/js/d3.v3.min.js"></script>
<script src="/assets/js/jquery.js"></script>
<script>
function render_chart(sel_skill){
  // Various accessors that specify the four dimensions of data to visualize.
  function x(d) { return d.influence; }
  function y(d) { console.log('returning exp '); console.log(d.expertise);return d.expertise; }
  function radius(d) { return d.size; }
  function color(d) { return d.name; }
  function key(d) { return d.name; }

  // Chart dimensions.
  var margin = {top: 19.5, right: 19.5, bottom: 19.5, left: 39.5},
      width = 960 - margin.right,
      height = 500 - margin.top - margin.bottom;

  // Various scales. These domains make assumptions of data, naturally.
  var xScale = d3.scale.linear().domain([0, 1]).range([0, width]),
      yScale = d3.scale.linear().domain([0, 1]).range([height, 0]),
      radiusScale = d3.scale.sqrt().domain([0, 5]).range([0, 20]),
      colorScale = d3.scale.category10();

  // The x & y axes.
  var xAxis = d3.svg.axis().orient("bottom").scale(xScale).ticks(12, d3.format(",d")),
      yAxis = d3.svg.axis().scale(yScale).orient("left");

  // Create the SVG container and set the origin.
  var svg = d3.select("#chart").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // Add the x-axis.
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  // Add the y-axis.
  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  // Add an x-axis label.
  svg.append("text")
      .attr("class", "x label")
      .attr("text-anchor", "end")
      .attr("x", width)
      .attr("y", height - 6)
      .text("Company influence");

  // Add a y-axis label.
  svg.append("text")
      .attr("class", "y label")
      .attr("text-anchor", "end")
      .attr("y", 6)
      .attr("dy", ".75em")
      .attr("transform", "rotate(-90)")
      .text("Company expertise");

  // Add the year label; the value is set on transition.
  var label = svg.append("text")
      .attr("class", "skill label")
      .attr("text-anchor", "end")
      .attr("y", height - 24)
      .attr("x", width)
      .text(sel_skill);

  // Load the data.
  d3.json("/temp/company_data?skill=" + sel_skill, function(error, startups) {
    if(error) return console.warn(error);
    // A bisector since many nation's data is sparsely-defined.
    var bisect = d3.bisector(function(d) { return d[0]; });

    // Add a dot per nation. Initialize the data at 1800, and set the colors.
    var dot = svg.append("g")
        .attr("class", "dots")
      .selectAll(".dot")
        .data(startups)
      .enter().append("circle")
        .attr("class", "dot")
        .style("fill", function(d) { return colorScale(color(d)); })
        .call(position)
        .sort(order);

    // Add a title.
    dot.append("title")
        .text(function(d) { return d.name; });

    // Add an overlay for the year label.
    var box = label.node().getBBox();

    var overlay = svg.append("rect")
          .attr("class", "overlay")
          .attr("x", box.x)
          .attr("y", box.y)
          .attr("width", box.width)
          .attr("height", box.height);

    // Positions the dots based on data.
    function position(dot) {
      dot .attr("cx", function(d) { return xScale(x(d)); })
          .attr("cy", function(d) { return yScale(y(d)); })
          .attr("r", function(d) { return radiusScale(radius(d)); });
    }

    // Defines a sort order so that the smallest dots are drawn on top.
    function order(a, b) {
      return radius(b) - radius(a);
    }
  });

}
</script>