{% extends "base_padded.html" %}

{% block Scripts %}
    <script src="/assets/js/listing_animation.js"></script>
{% endblock %}

{% block Styles %}
    <link href="/assets/css/projects.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block PaddedContent %}
    <div class="project-copy">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="project-logo" style="background-image:url('{% if image %}/api/common/download_image/{{image}}{% else %}/assets/img/company/company.png{% endif %}');"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="row project-name">
                            <span><a href="/projects/study?id={{id}}">{{title}}</a></span>
                        </div>
                        <div class="row project-desc">
                            <span>{{description}}</span>
                        </div>
                        <div class="row project-category">
                            <span>{{category}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row project-title">
                    <span>PROJECT DESCRIPTION</span>
                </div>
                <div class="row project-desc project-text-section">{{description}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row project-title">
                    <span>DEVICES</span>
                </div>
                <div class="row project-image-section">
                    <div class="col-sm-1 device">
                        <div class="row">
                            <span>iPhone 5S</span>
                        </div>
                        <div class="row device-bg iphone"></div>
                    </div>
                    <div class="col-sm-3 device">
                        <div class="row">
                            <span>iPad Mini</span>
                        </div>
                        <div class="row device-bg ipad-mini"></div>
                    </div>
                    <div class="col-sm-4 device">
                        <div class="row">
                            <span>iPad Air</span>
                        </div>
                        <div class="row device-bg ipad-air"></div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row project-title">
                    <span>ORIENTATION</span>
                </div>
                <div class="row project-image-section">
                    <div class="col-sm-1 device">
                        <div class="row">
                            <span>PORTRAIT</span>
                        </div>
                        <div class="row device-bg iphone-portrait"></div>
                    </div>
                    <div class="col-sm-4 device">
                        <div class="row">
                            <span>LANDSCAPE</span>
                        </div>
                        <div class="row device-bg iphone-landscape"></div>
                    </div>
                    <div class="col-sm-7"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row project-title">
                    <span>SPECS</span>
                </div>
                <div class="row project-list-section">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 project-list">
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>OS</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>iOS 7.0 and higher</span></div>
                        </div>
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>PROGRAMMING</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>Ruby, AWS, Heroku, Hadoop</span></div>
                        </div>
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>DATASTORE</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>MongoDB</span></div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row project-title">
                    <span>PROJECT TIMELINE</span>
                </div>
                <div class="row project-list-section">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 project-list">
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>PROJECT COMPLETION</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>{{ end_date|date:"F d, Y" }}</span></div>
                        </div>
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>DESIGNS FIRST CUT</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>July 15, 2015</span></div>
                        </div>
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>FIRST DEVELOPER RELEASE</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>August 15, 2015</span></div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row project-title">
                    <span>PROJECT PAYMENT</span>
                </div>
                <div class="row project-list-section">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 project-list">
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>BILLING TYPE</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>TIME BASED</span></div>
                        </div>
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>BLENDED HOURLY BILLING RATE</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>$50</span></div>
                        </div>
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>TEAM SIZE</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>3</span></div>
                        </div>
                        <div class="row list-group-item original-pos project-list-item">
                            <div class="col-xs-6 project-list-item-title"><span>PAYMENT TERMS</span></div>
                            <div class="col-xs-6 project-list-item-content"><span>15 DAYS</span></div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row project-title">
                    <span>ABOUT {{title}}</span>
                </div>
                <div class="row project-desc project-text-section">{{description}}</div>
            </div>
        </div>
    </div>
{% endblock %}