.header {
    transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
    -webkit-transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
}

.landing-logo {
    background-image: url('/assets/img/pirates_logo_white.png');
    background-size: contain !important;
    width: 109px;
    height: 33px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.landing-logo:hover {
    background-image: url('/assets/img/pirates_logo_blue.png');
}

.animate .landing-logo, .animate .landing-logo:hover {
    background-image: url('/assets/img/pirates_logo_black.png');
}

.dark-nav .landing-logo {
    background-image: url('/assets/img/pirates_logo_black.png');
}

.main-nav-right>li {
    width: auto;
}

.navbar-nav>li>a {
    padding-left: 45px;
    padding-right: 0px;
    padding-top: 27px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}

.scrolled .navbar-nav>li>a {
    line-height: 12px;
    color: #1b1e37 !important;
}

.navbar-btn {
    margin-left: 45px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 12px !important;
    padding-top: 10px !important;
    margin-top: 16px !important;
}

@media (max-width: 767px) {
    .landing-logo, .landing-logo:hover {
        background-image: url('/assets/img/pirates_logo_black.png');
    }
}