body{
    font: 400 120%/1.65 "Gotham", "Helvetica Neue", Helvetica, sans-serif;
    color: #677277;
}

body a {
    text-decoration: none;
    color: #51b9db;
}

.navbar-toggle .icon-bar {
    background-color: lightblue;
}

.content {
    padding-top: 100px;
}

.landing-selection {
    padding-top: 20px;
    font-size: 50px;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 767px) {
    .landing-selection {
        font-size: 25px;
    }
}

.top-padded {
    padding-top: 50px;
}

.scores-table {
}

.scores-table thead {
    background-color: #f8f9fa;
}

.scores-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.navbar-collapse {
    background-color: rgba(255, 255, 255, 0.9);
}

.btn-bootflat {
    background-color: #3bafda;
    border-color: #3bafda;
}

.input-group-addon {
    background-color: #3bafda;
}

.donut-canvas {
    width: 30px; 
    height: 30px;
}