body{
    font-size: 150%;
    font-weight: 400;
    line-height: 1.65;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    -webkit-font-smoothing: antialiased;
}

body a {
    text-decoration: none;
}

.spacing-small {
    padding: 10px;
}

.spacing-medium {
    padding: 24px;
}

.spacing-large {
    padding: 96px;
}

.spacing-extra-large {
    padding: 128px;
}

.header-1, h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 50px !important;
    font-weight: bold !important;
    line-height: 59px !important;
}

.header-2, h2 {
    font-family: 'PT Serif', serif !important;
    font-size: 36px !important;
    font-weight: bold !important;
    line-height: 48px !important;
}

.header-3, h3 {
    font-family: 'PT Serif', serif !important;
    font-size: 22px !important;
    font-weight: bold !important;
    line-height: 36px !important;
}

.normal-copy {
    font-family: 'PT Serif', serif !important;
    font-size: 22px !important;
    font-weight: normal !important;
    line-height: 29px !important;
}

.nav-link {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 12px !important;
}

h1, h2, h3 {
    margin:0px;
}

.uppercase {
    text-transform: uppercase;
}

.bg-img-fullscreen {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.inputfield {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

#recaptcha_table {
    margin: auto !important;
}

.auto-margin {
    margin: auto;
}

.show-element {
    display: block;
}

.hide-element {
    display: none;
}

.navbar-toggle .icon-bar {
    background-color: #4FC1E9;
}

.content {
    margin-top: -65px;
    margin-bottom: 0px;
}

.scrolled .content {
    margin-top: 0px;
}

.page-padding {
    padding: 0px 90px !important;
}

.landing-selection {
    text-align: center;
}

.landing-big-font {
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.landing-small-font {
    color: #E6E9ED;
    font-size: 15px;
    font-weight: 500;
}

.horizontal-center {
    margin:auto;
}

.page-content {
    position: relative;
    min-height: 1100px;
}

.nav-offset {
    margin-top: 0px;
}

.nav-offset-padding {
    padding-top: 100px;
}

.section-slide-3-img {
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 128px;
    width: 128px;
}

.section-slide-3-img-container {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin: auto;
}

@media (min-width: 992px) {
    .container {
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
}

@media (min-width: 0px) {
    .container {
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
}

@media (max-width: 767px) {
    .landing-selection {
        font-size: 25px;
    }
}

.top-padded {
    padding-top: 50px;
}

.bottom-padded {
    padding-bottom: 128px !important;
}

.scores-table {
}

.scores-table thead {
    background-color: #f8f9fa;
}

.scores-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.btn-bootflat {
    color: rgb(59, 175, 218);
    background-color: transparent;
    border-color: #3bafda;
    transition: 0.1s background-color linear;
    height: 44px;
    width: 200px;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
}

.btn-bootflat:hover, .btn-bootflat:active {
    background-color: #3bafda;
    color: #ffffff;
    border-color: #3bafda;
}

.input-group-addon {
    background-color: #3bafda;
}

.donut_canvas {
}

.donut_td {
    position: relative;
    height: 80px;
    width: 80px;
    margin: auto;
}

table td {
    vertical-align: middle !important;
}

.score-text {
    font-size: 40px;
}

.sd-btn {
    padding-top: 10px;
}

small {
    color: #8d8d8d !important;
}

a small {
    color: #51b9db !important;
}

.input-container {
    width: 50%;
    margin: auto;
}

.startup-icon {
    max-width: 100%;
    max-height: 50px;
    margin: 5px;
}

.icons {
    vertical-align: middle;
}

.company-img {
    max-height: 150px;
    min-height: 150px;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.justified-align {
    text-align: justify;
}

.footer-button-row {
    margin: 30px;
    text-align: center;
}

.header {
    position: relative;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.dev-scores .glyphicon {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
}

.header {
    border-bottom-color: white;
}

.scrolled .header {
    position: fixed;
    transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
    -webkit-transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
    top: 0 !important;
    background-color: #ffffff !important;
    border-bottom: 1px solid #ddd !important;
}

.bottom-margin-sm {
    margin-bottom: 30px;
}

.bottom-margin-md {
    margin-bottom: 60px;
}

.bottom-margin-lg {
    margin-bottom: 100px;
}

.top-padding-sm {
    padding-top: 30px;
}

.top-padding-md {
    padding-top: 60px;
}

.top-padding-lg {
    padding-top: 100px;
}

.photo {
    max-width: 250px;
    max-height: 250px;
}

.error-message {
    display: none;
    color: red;
}

.btn-bootflat-top-padded {
    padding-top: 10px;
}

.wrapped {
    word-wrap: break-word;
}

.expertise-td-select {
    padding-top: 27px;
}

.expertise-td-donut {
    padding-top: 6px;
    margin-bottom: 0px !important;
}

.blue-font {
    color: #139fe1;
}

.white-font {
    color: #FFFFFF;
}

.dark-font {
    color: #333333;
}

.blue-background {
    background-color: #139fe1;
}

.white-background {
    background-color: #FFFFFF;
}

.dark-background {
    background-color: #1c1c1c;
}

.base-nav {
    height: 50px;
    text-align: center;
}

.base-nav .navbar-collapse.collapse, .base-nav .navbar-collapse.collapse ul, .base-nav .navbar-collapse.collapse li {
    height: 100% !important;
}

.row {
    margin: 0px;
}

.row [class*=col-] {
    padding: 0px;
}

.nav-icon {
    margin: 0px !important;
}

#nav-icon, #navbar-menu, #nav-icon a {
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.nav-icon a {
    display: table;
}

.nav-menubar {
    margin: 0px !important;
}

.nav-content {
    width: auto;
    margin: auto;
}

.pull-icon-right {
    margin-left: 90%;
}

.pull-navmenu-right {
    margin-left: 0px !important;
    opacity: 1 !important;
}

.navbar-nav {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fullscreen-section {
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}

.width960 {
    max-width: 960px;
    margin: auto;
}

.nav-padded {
    margin-top: 192px;
}

.company-img .caption {
    background-color: #139fe1 !important;
    color: #ffffff !important;
    text-shadow: none !important;
}

.list-row {
  margin-bottom: 30px;
}

.caption {
    font-family: 'Montserrat', sans-serif;
}

.caption-name {
    max-width: 200px;
    margin: auto !important;
    font-size: 18px !important;
    word-wrap: break-word;
    text-transform: uppercase;
}

.caption-profile {
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
}

.caption-city {
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.original-pos {
    -moz-transform: translate(0,2em);
    -ms-transform: translate(0,2em);
    -webkit-transform: translate(0,2em);
    transform: translate(0,2em);
    -moz-transform: translate3d(0,2em,0);
    -ms-transform: translate3d(0,2em,0);
    -webkit-transform: translate3d(0,2em,0);
    transform: translate3d(0,5em,0);
    opacity: 0;
}

.new-pos {
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

.startup-logo {
    height: 120px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}

.startup-copy {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

.startup-copy p {
    margin: 0px !important;
}

.startup-name {
    font-size: 24px;
}

.startup-desc {
    font-size: 18px;
    line-height: 70%;
}

.main-nav-right>li {
    width: 113px;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    color: #ffffff !important;
    font-size: 24px;
    margin-left: 10px !important;
}

.navbar-inverse .navbar-nav a {
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav .active>a {
    color: #333333 !important;
    background-color: #ffffff !important;
}

.startup-title {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color:  #ffffff;
    margin-top: 30px;
    border-top: 0px solid #ddd !important;
    border-right: 0px solid #ddd !important;
    border-left: 0px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

.shadowed-box {
    background-color:  #ffffff;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.05);
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 10px;
}

.shadowed-box-all-padding {
    background-color:  #ffffff;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.05);
    padding: 20px !important;
    margin-top: 10px;
}

.new-donut-container {
    background-color: #333333;
    border-radius: 50%;
    position: absolute;
}

.score_text {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}

sup {
    top: -0.9em !important;
    font-size: 40% !important;
}

.score-desc {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.right-down-shadow {
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.05);
    height: 74px;
    padding: 20px !important;
}

.design-table {
    font-family: 'Montserrat', sans-serif;
    color:  #333333;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    border: 1px solid #ddd !important;
}

.shot {
    height: 225px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.shot-row {
    margin-bottom: 45px !important;
}

.top-nav {
    padding: 0px 90px;
}

.scrollspied {
    position: relative;
}

.sub-menu {
    float: right !important;
}

.sub-menu>li>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color:  #333333;
    line-height: 60px;
    text-align: center;
}

.navbar-inverse .sub-menu>li>a {
  color: #ffffff !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.nav-startup-name {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-left: 40px;
}

.navbar-inverse .container-fluid {
    padding: 0px !important;
}

.navbar-inverse .navbar-header {
    padding-top: 9px;
}

.design-logo {
    margin-right: 10px;
    height: 28px;
    width: 48px;
}

.dev-logo {
    margin-right: 10px;
    height: 20px;
    width: 48px;
}

.dev-scores {
    font-family: 'Montserrat', sans-serif;
}

.dev-scores .panel {
    margin-bottom: 3px;
    text-align: center;
}

.dev-scores .panel-heading {
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}

.dev-scores .panel-title {
    font-size: 18px;
}

.dev-scores .panel-body {
    padding: 0px !important;
}

.dev-scores-table {
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
}

.dev-scores-table .list-group {
    margin-bottom: 0px;
}

.dev-scores-popover .list-group-item {
    padding-left: 0px;
    padding-right: 0px;
}

.dev-scores-popover .list-group-item-heading {
    text-align: left;
}

.dev-scores-popover .list-group-item-text {
    text-align: center;
}

.dev-scores-popover .popover {
    width: 200px;
    max-width: 200px;
    background-color: #e6e9ed;
    border-color: #e6e9ed;
}

.dev-scores-popover .popover-title {
    color: #333333;
}

.dev-scores-popover .popover.left .arrow, .dev-scores-popover .popover.left .arrow:after {
    border-left-color: #139fe1 !important;
}

.dev-scores-popover .popover.right .arrow, .dev-scores-popover .popover.right .arrow:after {
    border-right-color: #139fe1 !important;
}

.startup-details-content {
    padding-top: 60px;
}

#top-arrow.on {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  right: 25px;
}

#top-arrow.off {
  opacity:0;
  filter:alpha(opacity=0);
  right:25px;
}

#top-arrow {
  color: #cdcdcd;
  height: auto;
  position: fixed;
  bottom: 65px;
  margin: 0;
  z-index: 10000;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  right: 25px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#top-arrow span {
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-decoration: none;
  -o-border-radius: 52px;
  -moz-border-radius: 52px;
  -webkit-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: all .2s ease 0s;
  -moz-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  border: 2px solid #e8e8e8;
  background: transparent;
}

#top-arrow span {
  text-align: center;
}

#top-arrow span i {
  font-size: 22px;
  -webkit-transition: color .2s ease 0s;
  -moz-transition: color .2s ease 0s;
  -o-transition: color .2s ease 0s;
  color: #b0b0b0;
  line-height: 52px;
}

#top-arrow:hover span {
    background-color:#e8e8e8
}

.centered-full-screen-element, .centered-full-width-element {
    display: table-cell;
    vertical-align: middle;
}

#overview {
    padding-top: 24px;
}

.footer {
    min-height: 207px;
    background-color:  #1c1c1c;
}

.footer-logo-small {
    background-image: url('/assets/img/logo_color_small.png') !important;
    margin: auto;
    height: 50px !important;
    background-size: 48px 38px;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-logo-copy {
    font-family: 'Montserrat', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    color:  #e6e9ed;
    text-align: left;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.footer-link {
    font-family: 'Montserrat', sans-serif;
    color:  #aab2bd;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

@media (max-width: 767px) {
    .header {
        background-color: #ffffff;
    }

    .header-1, h1 {
        font-size: 30px !important;
        line-height: 36px !important;
    }

    .header-2, h2 {
        font-size: 22px !important;
        line-height: 26px !important;
    }

    .header-3, h3 {
        font-size: 13px !important;
        line-height: 20px !important;
    }

    .normal-copy {
        font-size: 13px !important;
        line-height: 17px !important;
    }

    .page-padding {
        padding: 0px 45px !important;
    }

    .top-nav {
        padding: 0px 30px;
    }

    #captcha {
        zoom: 0.5;
    }

    .caption-name {
        max-width: 100px;
        font-size: 10px !important;
    }

    .caption-profile {
        max-width: 100px;
        margin-top: 5px;
    }

    .caption-city {
        font-size: 10px;
        line-height: 14px;
    }

    .startup-logo {
        margin: auto;
    }

    .startup-copy {
        text-align: center;
        max-width: 280px;
        margin: auto;
    }

    .design-table {
        text-align: center;
        padding-left: 20px !important;
        padding-right: 20px !important;
        margin-top: 60px;
    }

    .dev-scores-popover .list-group-item-heading {
        text-align: center;
    }

    .shot-row {
        margin-bottom: 0px !important;
    }

    .footer-title {
        font-size: 10px;
        line-height: 18px;
    }

    .footer-link {
        font-size:12px;
        line-height: 14px;
    }

    .footer-links-pad {
        padding-left: 10px !important;
        padding-top: 10px !important;
    }

    .footer-logo-small {
        background-position: center left;
        margin-left: 10px;
    }
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
      padding: 0px 17px;
    }
}

@media (max-width: 959px) {
    .width960 {
        padding-left: 10px;
        padding-right: 10px;
    }
}