/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



@font-face {
    font-family:Airglyphs;
    src:url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/airglyphs-f416614f86e38bb890629ba1cc24c91d.eot");
    src:url("https://a2.muscache.com/airbnb/static/o2.1/build/fonts/airglyphs-ie8-3abf38dd87075bfbe2c57940d457ba7e.eot?#") format("eot"),
    url("https://a2.muscache.com/airbnb/static/o2.1/build/fonts/airglyphs-aa7cb47df48937543ab4f4177f6f22c9.woff") format("woff"),
    url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/airglyphs-88ab805b2e2f2bd2908f08ea0b346796.ttf") format("truetype"),
    url("https://a0.muscache.com/airbnb/static/o2.1/build/fonts/airglyphs-c9663aa6ad0fec428b377dd38dfb88f3.svg") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:Circular;
    src:url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book-22799398756cc42454a77735013a3378.eot");
    src:url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book-22799398756cc42454a77735013a3378.eot?#") format("eot"),
    url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book-030dcebde359eb3be354ab21c34a89ce.woff") format("woff"),
    url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book-287e910a06039c130e488343a7564c39.svg") format("svg");
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family:Circular;
    src:url("https://a2.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot");
    src:url("https://a2.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book_Italic-35e1cf57d93dc4eb3db11cc2448cb91f.eot?#") format("eot"),
    url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book_Italic-1db902f5b85bbb0964e2994434edbe16.woff") format("woff"),
    url("https://a1.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Book_Italic-0d9eb203b260869dc2470ae35162fc1e.svg") format("svg");
    font-weight:normal;
    font-style:italic
}

@font-face {
    font-family:Circular;
    src:url("https://a0.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Bold-d74b6eea213711f97770fccaf37a7644.eot");
    src:url("https://a0.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Bold-d74b6eea213711f97770fccaf37a7644.eot?#") format("eot"),
    url("https://a2.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Bold-ba3e389678777af817295255589ca6f5.woff") format("woff"),
    url("https://a2.muscache.com/airbnb/static/o2.1/build/fonts/Circular_Air-Bold-3831f8bc07e9e70a9b42b4be3ea1a32c.svg") format("svg");
    font-weight:700;
    font-style:normal
}