.title {
	font-family: Montserrat;
	color: #333333;
	font-size: 49.95px;
	font-weight: 700;
	line-height: 29px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 25px;
}

.body {
	font-family: PTSerif;
	color: #333333;
	font-size: 21.99px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
}

.button {
	font-family: Montserrat;
	color:  #139fe1;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 400;
	line-height: 36px; /* Approximation due to font substitution */
	text-align: center;
	display: inline;
}
