.landing-pirate-img {
    margin: 20px;
}

.no-navbar {
    display: none;
}

.landing-section1-copy {
    margin-top: 200px;
}

.landing-copy {
    margin-top: 300px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
}

.section2-icons {
    padding-top: 30px;
}

.landing-overlay {
    background-color: rgba(28, 28, 28, 0.8);
}

.landing-section {
    position: relative;
    background-size: cover !important;
}

.landing_logo {
    position:absolute;
    top: 29px;
    left: 33px;
    z-index:1000;
}

.carousel-inner>.item {
    transition: 1s ease left;
}

.stationary {
    position: absolute;
    width: 100%;
    z-index: 999;
}