.landing-pirate-img {
    margin: 20px;
}

.no-navbar {
    display: none;
}

.landing-section1-copy {
    margin-top: 200px;
}

.landing-copy {
    margin-top: 150px;
}

.landing-section {
    min-height: 700px;
}

.section2-icons {
    padding-top: 30px;
}