.project-logo {
    height: 120px;
    width: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}

.project-image {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0% !important;
    left: 0% !important;
    border-radius: 50%;
}

.project-copy {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.project-copy p {
    margin: 0px !important;
}

.project-name {
    font-size: 24px;
    font-weight: 700;
}

.project-desc {
    color:  #656d78;
    font-size: 14px;
    font-weight: 400;
}

.project-category {
    color:  #139fe1;
    font-size: 14px;
    font-weight: 400;
}

.project-title {
    font-size: 24px;
    font-weight: 700;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-color:  #cccccc;
    border-style: solid;
    padding-bottom: 22px;
    margin-top: 45px
}

.project-text-section {
    padding-top: 28px;
}

.project-image-section {
    padding-top: 45px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.device-bg {
    margin-top: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.iphone {
    background-image: url('/assets/img/projects/details/iphone.png');
    height: 199px;
}

.ipad-mini {
    background-image: url('/assets/img/projects/details/ipad-mini.png');
    height: 262px;
}

.ipad-air {
    background-image: url('/assets/img/projects/details/ipad-air.png');
    height: 323px;
}

.iphone-landscape {
    background-image: url('/assets/img/projects/details/iphone-landscape.png');
    height: 97px;
}

.iphone-portrait {
    background-image: url('/assets/img/projects/details/iphone-portrait.png');
    height: 199px;
}

.project-list-section {
    padding-top: 45px;
}

.project-list-item {
    padding: 25px;
}

.project-list-item-title {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.project-list-item-content {
    color:  #656d78;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.project-list {
    border: 1px solid #ddd;
}

@media (max-width: 766px) {
    .project-logo {
        margin: auto;
    }

    .project-copy {
        text-align: center;
    }

    .device {
        margin-top: 30px;
    }
}