.project-logo {
    height: 120px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 10px;
}

.project-copy {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.project-copy p {
    margin: 0px !important;
}

.project-name {
    font-size: 24px;
    font-weight: 700;
}

.project-desc {
    color:  #656d78;
    font-size: 14px;
    font-weight: 400;
}

.project-category {
    color:  #139fe1;
    font-size: 14px;
    font-weight: 400;
}

.project-title {
    font-size: 24px;
    font-weight: 700;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-color:  #cccccc;
    border-style: solid;
    padding-bottom: 22px;
    margin-top: 45px
}

.project-text-section {
    padding-top: 28px;
}

@media (max-width: 766px) {
    .project-logo {
        margin: auto;
    }

    .project-copy {
        text-align: center;
    }
}