p {
    margin:0px;
}

.title {
    padding-bottom: 24px !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-color:  #cccccc;
    border-style: solid;
    text-align: center;
}

.copy {
    padding-top: 24px;
}

.sec-1-subtitle {
    padding-top: 10px;
}

.sec-3-copy {
    color: #ffffff;
    padding-bottom: 0px;
}

.sec-3-subtitle {
    text-align: center;
    padding-top: 48px;
}

.sec-3-donuts {
    padding-top: 48px;
}

.sec-3-donut-title {
    text-align: center;
    padding-top: 10px;
}

.new-donut-container {
    background-color: transparent !important;
}

.startup-founder {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-color:  #cccccc;
    border-style: solid;
    padding-bottom: 24px;
}

.founder-picture {
    height: 128px;
    width: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin: auto;
}

.founder-name {
    text-align: center;
    padding-top: 24px;
}

.founder-desc {
    text-align: center;
    padding-top: 10px;
}

.sprint-img {
    border-radius: 50%;
    height: 256px;
    width: 256px;
    margin: auto;
}

#startup .copy {
    padding-bottom: 48px !important;
}

#startup-project-desc .copy, #development .copy {
    padding-bottom: 48px !important;
}

#startup-project-desc .copy:first-of-type {
    padding-bottom: 48px !important;
}

#startup-project-desc .copy:last-of-type, #development .copy:last-of-type {
    padding-bottom: 0px !important;
}

#startup-project-desc .title, #development .title {
    padding-top: 48px !important;
    padding-bottom: 24px !important;
}

#development .title:first-of-type {
    padding-top: 0px !important;
}

.joint-sprint-img {
    padding-top: 48px;
    padding-bottom: 48px;
}

#branding .copy, .branding-img {
    padding-top: 24px;
    padding-bottom: 24px;
}

#branding .copy:last-child {
    padding-bottom: 0px !important;
}

.app-shots img {
    padding-top: 80px;
    padding-bottom: 80px;
}

.sec-app-img {
    height: 550px;
}

.sec-app-copy-big {
    color: #ffffff;
    text-align: center;
}

.dev-img {
    height: 275px;
    width: 275px;
    border: 1px solid #ddd;
    border-radius: 25%;
}

@media (max-width: 959px) {
    .width960 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {
    .app-shots img {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sec-app-copy ul {
        height: auto !important;
    }

    .sec-app-img{
        background-size: contain !important;
        height: 300px !important;
    }

    .sec-app-img-margin-top {
        margin-top: 24px;
    }

    .sec-app-img-margin-bottom {
        margin-bottom: 24px;
    }

    .sprint-img {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .sec-3-donuts [class*=col-sm] {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sec-1 .section-content:first-of-type {
        padding-top: 128px;
    }

    .dev-img {
        height: 175px;
        width: 175px;
    }
}
