.title {
    padding-top: 135px;
    padding-bottom: 40px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-color:  #cccccc;
    border-style: solid;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.copy {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 48px;
    padding-bottom: 140px;
}

.sec-1 {
    min-height: 795px !important;
}

.sec-1-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    padding-top: 118px;
}

.sec-1-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 10px;
}

.sec-2-copy {
    color: #656d78;
}

.sec-3 {
    min-height: 800px !important;
}

.sec-3-copy {
    color: #ffffff;
    padding-bottom: 0px;
}

.sec-3-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    padding-top: 55px;
}

.sec-3-donuts {
    padding-top: 53px;
    padding-bottom: 115px;
}

.sec-3-donut-title {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
    padding-top: 25px;
}

.new-donut-container {
    background-color: transparent !important;
}

.startup-founder {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-color:  #cccccc;
    border-style: solid;
    padding-top: 115px;
    padding-bottom: 45px;
}

.founder-picture {
    height: 128px;
    width: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    margin: auto;
}

.founder-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    padding-top: 50px;
}

.founder-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-top: 10px;
}

.sec-4-copy {
    padding-bottom: 125px;
}

.sec-5 {
    min-height: 800px !important;
}

.header {
    transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
    -webkit-transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
}

.landing-logo {
    background-image: url('/assets/img/study/logo_white_small.png');
    background-size: contain !important;
    width: 42px;
    height: 33px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.landing-logo:hover {
    background-image: url('/assets/img/logo_blue_small.png');
    background-size: contain !important;
    width: 42px;
    height: 33px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.animate .landing-logo, .animate .landing-logo:hover {
    background-image: url('/assets/img/logo_black_small.png');
    background-size: contain !important;
    width: 42px;
    height: 33px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nav-left-copy {
    font-size: 14px;
    font-weight: 700 !important;
    line-height: 14px;
    padding-top: 26px;
    padding-left: 6px;
}

.animate .nav-left-copy, .animate .nav-left-copy:hover {
  color: #1b1e37 !important;
  line-height: 14px;
}

.main-nav-right>li {
    width: auto;
}

.navbar-nav>li>a {
    padding-left: 45px;
    padding-right: 0px;
    padding-top: 27px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}

.scrolled .navbar-nav>li>a {
    line-height: 12px;
    color: #1b1e37 !important;
}

.navbar-btn {
    margin-left: 45px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 12px !important;
    padding-top: 10px !important;
    margin-top: 16px !important;
}

@media (max-width: 959px) {
    .width960 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 766px) {
    .landing-logo, .landing-logo:hover {
        background-image: url('/assets/img/logo_black_small.png');
        background-size: contain !important;
        width: 42px;
        height: 33px;
    }

    .navbar-header .nav-left-copy, .navbar-header .nav-left-copy:hover {
        line-height: 14px;
    }
}
