<script type="text/javascript">
        function validate() {
            $('.error-message p').html("");
            $('.error-message').hide();
            if(!$('#recaptcha_response_field').val()) {
                $('.error-message').show();
                $('.error-message p').html("Please enter captcha response");
                $('#recaptcha_response_field').focus();
                return false;
            }
            return true;
        }

        $(document).ready(function(){
            if("{{captcha_error}}") {
                $('#recaptcha_response_field').focus();
            }
        });
    </script>