<div class="row footer">
    <div class="col-sm-2">
        <div class="row">
            <div class="col-xs-7 footer-logo-small"></div>
            <div class="col-xs-5"><p class="footer-logo-copy">Pirates</p></div>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="row">
        </div>
    </div>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="footer-title">PORTFOLIO</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">Mobile Apps</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">Web Apps</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="footer-title">ABOUT</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">The Company</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">History</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">Vision</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="footer-title">GALLERY</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">Dribbble</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">Behance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footer-title">CONTACT</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">Contact Info</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="footer-link">Jobs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>