<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail form-control" style="max-width:100%;height: 150px;">
                <img id="photo-holder" class="form-image" {% if image %}src="{{image}}"{% endif %} data-src="holder.js/100%x100%" alt="NO IMAGE UPLOADED">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100%; max-height: 150px;"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-normal btn-blue btn-file auto-margin">
                        <span class="fileinput-new btn-line-height">{{button_text}}</span>
                        <span class="fileinput-exists btn-line-height">Change</span>
                        <input id="photo" onchange="displayPhotoThumbnail(this)" type="file" name="{{name}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-normal btn-blue btn-line-height fileinput-exists auto-margin" style="cursor: pointer" data-dismiss="fileinput">Remove</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>