<div id="canvas_container" style="position:relative;height:128px">
	<div class="score_text" style="height:128px;width:128px;line-height:128px;position:absolute;display:block;z-index:9999;"></div>
	<canvas class="donut_canvas" height="{{donut_size|default:'80'}}" width="{{donut_size|default:'80'}}"></canvas>
</div>
<input class="score_value" type="hidden" value="{% if donut_score %}{{donut_score}}{% else %}0.0{% endif %}">
<input class="full_color" type="hidden" value="{% if full_color %}{{full_color}}{% else %}#68dff0{% endif %}">
<input class="empty_color" type="hidden" value="{% if empty_color %}{{empty_color}}{% else %}#bdfdfd{% endif %}">
<!--
<div class="container_div" style="position:relative;">
    <div class="hover_div" style="position:absolute; width:25px !important; display:block;z-index:9999">                            
        <img class="some_class" src="/settings_icon.png" style="height: 20px; display: block;">
    </div>
<canvas width="180" height="270" style="width: 180px; height: 270px;"></canvas>
</div>
-->