{% include "components/form_image.html" with name="project_image" button_text="Select Image" title="Project Icon" %}
{% include "components/form_input.html" with id="project-title" name="project_title" placeholder="Project Title" other="required" title="Project Title" %}
{% include "components/form_single_select.html" with id="category-select" name="category_select" other="onchange='updateProjectCategory()'" options=categories title="Select Category" %}
{% include "components/form_textarea.html" with id="description" name="description" placeholder="Description" rows="10" other="required" title="Description" %}
{% include "components/form_input.html" with id="project-bid" name="project_bid" placeholder="Bid" other="required" title="Bid" %}
{% include "components/form_input.html" with type="date" id="project-end-date" name="project_end_date" placeholder="End Date" other="required" title="End Date" %}
<input type="hidden" id="category" name="category">
{% include "components/form_submit.html" with value="Create Project" %}