<div class="row" style="padding-top: 50px;">
	<table>
		<tr>
			<th>
				<div>
					<h4>Get started</h4>
					<p>Tell us about your startup!</p>
				</div>
			</th>
			<th class="inactive">
				<div>
					<h4>Invite team members</h4>
					<p>Build your team</p>
				</div>
			</th>
			<th class="inactive">
				<div>
					<h4>Give us access to your data</h4>
					<p>Help us learn more about you</p>
				</div>
			</th>
			<th class="inactive">
				<div>
					<h4>Pull data</h4>
					<p>Kick off the analytics!</p>
				</div>
			</th>
		</tr>
	</table>
</div>