<div class="row top-padded">
    <div class="breadcrumb-row">
        {% for breadcrumb in breadcrumbs %}
            {% if forloop.counter == breadcrumb_idx %}
                <div class="data-input-tab">
            {% else %}
                <div class="data-input-tab data-input-tab-inactive">
            {% endif %}
                <div>
                    <h4>{{breadcrumb.0}}</h4>
                    <p>{{breadcrumb.1}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>