<ul class="scrollable">
    <li class="focus">
        <div class="row">
            <div class="col-sm-12">
                <h1>I NEED AN APP TO BE BUILT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                        <h3 class="btn-line-height">And I would like to</h3>
                    </div>
                    <div class="col-sm-2">
                        {% include "components/link_button.html" with link="" value="Hire Pirates" classes="btn-blue" %}
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </li>
    <li class="">
        <div class="row">
            <div class="col-sm-12">
                <h1>I WORK AT A STARTUP</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>And I would like to <a>Join Pirates</a></h3>
            </div>
        </div>
    </li>
</ul>