@media (min-width: 992px) {
  .container {
    margin: 0px;
    width: 100%;
    padding: 0px; } }
@media (min-width: 0px) {
  .container {
    margin: 0px;
    width: 100%;
    padding: 0px; } }
.width960 {
  max-width: 960px;
  margin: auto; }

.row {
  margin: 0px; }
  .row [class*=col-] {
    padding: 0px; }

.content {
  margin-top: -66px;
  margin-bottom: 0px; }

header {
  position: relative;
  left: 0;
  z-index: 9999;
  width: 100%; }
  .scrolled header {
    position: fixed;
    transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    top: 0 !important;
    background-color: #ffffff !important;
    border-bottom: 1px solid #ddd !important; }
  .scrolled header .nav a, .scrolled header .light-nav a {
    color: #333333; }
  header .nav a, header .light-nav a {
    color: #ffffff;
    padding: 0px;
    line-height: normal !important; }

.nav, .light-nav {
  -webkit-transition: all 0.1s ease;
  -webkit-font-smoothing: antialiased;
  transition: all 0.1s ease;
  letter-spacing: 1px;
  font-size: 12px !important;
  font-weight: bold !important;
  font-family: "Montserrat", sans-serif !important; }
  .nav li > a, .light-nav li > a {
    height: 32px;
    line-height: 32px !important; }
  .nav li, .light-nav li {
    margin-right: 40px; }

.navbar-collapse {
  padding: 0px; }

.navbar-right > div {
  display: table-cell;
  height: 66px;
  line-height: 66px;
  vertical-align: middle; }

.landing-logo {
  background-image: url("/assets/img/pirates_logo_white.png");
  background-size: contain !important;
  width: 109px;
  height: 33px;
  margin-top: 16.5px;
  margin-bottom: 16.5px; }
  .landing-logo:hover {
    background-image: url("/assets/img/pirates_logo_blue.png"); }
  .animate .landing-logo {
    background-image: url("/assets/img/pirates_logo_black.png"); }
    .animate .landing-logo:hover {
      background-image: url("/assets/img/pirates_logo_blue.png"); }

.light-nav {
  color: #ffffff !important; }
  .light-nav a:hover {
    color: #139fe1 !important; }

.navbar-btn {
  margin: 0px !important;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  width: 94px;
  height: 32px;
  padding: 0px !important;
  text-align: center;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif !important; }
  a.navbar-btn:hover {
    background-color: #139fe1 !important;
    color: #ffffff !important;
    border-color: #139fe1; }
  .navbar-btn span {
    display: block;
    height: 32px;
    line-height: 32px; }
  .scrolled .navbar-btn {
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    width: 94px;
    height: 32px;
    padding: 0px !important;
    text-align: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
    font-weight: bold;
    font-family: "Montserrat", sans-serif !important; }
    a.scrolled .navbar-btn:hover {
      background-color: #139fe1 !important;
      color: #ffffff !important;
      border-color: #139fe1; }
    .scrolled .navbar-btn span {
      display: block;
      height: 32px;
      line-height: 32px; }

/*# sourceMappingURL=base.css.map */
