@import "_constants.scss";

@mixin button($text_color, $border_color, $hover_color, $hover_text, $hover_border, $width, $height, $font_size: null) {
	background-color:transparent;
	-webkit-font-smoothing: antialiased;
	width: $width;
	height: $height;
	padding: 0px !important;
	text-align: center;
	@if $text_color != null{
		color: $text_color;
	}
	border: {
		radius: 4px;
		width: 1px;
		style: solid;
		color:  $border_color;
	}
	@at-root #{&}:hover {
	    background-color:$hover_color !important;
	    color: $hover_text !important;
	    border-color: $hover_border;
	}
	font: {
		weight: bold;
		family: $btn_font;
        @if $font_size != null{
            size: $font_size;
        }
	}
	span {
		display: block;
		height: $height;
		line-height: $height;
	}
}

.get-started-btn {
	@include button($white_color, $white_color, 
		            $white_color, $black_color, $white_color, 
		            $bg_btn_width, $bg_btn_height, $bg_btn_font_size);
}

.std-btn {
	@include button($blue_color, $blue_color,
		            $blue_color, $white_color, $blue_color,
		            $bg_btn_width, $bg_btn_height, $bg_btn_font_size);
}

.navbar-btn {
	margin: 0px !important;
	@include button(null, $white_color, 
		            $blue_color, $white_color, $blue_color, 
		            $sm_btn_width, $sm_btn_height);
	@at-root .scrolled & {
		@include button(null, $black_color, 
		            $blue_color, $white_color, $blue_color, 
		            $sm_btn_width, $sm_btn_height);
	}
}