$h1_font: 'Montserrat', sans-serif !important;
$h_font: 'PT Serif', serif !important;
$btn_font: 'Montserrat', sans-serif !important;
$link_font: 'Montserrat', sans-serif !important;

$bg_btn_width: 180px;
$bg_btn_height: 50px;

$sm_btn_width: 94px;
$sm_btn_height: 32px;

$white_color: #ffffff;
$black_color: #333333;
$blue_color: #139fe1;

$nav_height: 66px;

$small_font: 12px;
$h1_font_size: 50px;
$h3_font_size: 22px;

$md_spacing: 40px;