@import "_constants.scss";
@import "_standards.scss";

$logo_height: 33px;
$logo_width: 109px;

$logo_white: '/assets/img/pirates_logo_white.png';
$logo_blue: '/assets/img/pirates_logo_blue.png';
$logo_black: '/assets/img/pirates_logo_black.png';

header {
    position: relative;
    left: 0;
    z-index: 9999;
    width: 100%;
    @at-root .scrolled & {
    	position: fixed;
	    transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
	    -webkit-transition: all .33s cubic-bezier(0.694,0.0482,0.335,1);
	    top: 0 !important;
	    background-color: $white_color !important;
	    border-bottom: 1px solid #ddd !important;
    }
    @at-root .scrolled & .nav a {
    	color: $black_color;
    }
    @at-root .scrolled & .nav a:hover {
        color: $blue_color;
    }
    & .nav a {
    	color: $white_color;
        padding: 0px;
        line-height: normal !important;
    }
    & .nav>li>a:hover, & .nav>li>a:focus {
        background-color: transparent;
    }
}

.nav {
    -webkit-transition: all 0.1s ease;
    -webkit-font-smoothing: antialiased;
    transition: all 0.1s ease;
    letter-spacing: 1px;
    font :{
        size: $small_font !important;
        weight: bold !important;
        family: $link_font;
    };
    & li>a{
        height: $sm_btn_height;
        line-height: $sm_btn_height !important;
    }
    & li {
        margin-right: $md_spacing;
    }
}

.navbar-collapse {
    padding: 0px;
}

.navbar-right>div{
    @include vertically-align-div($nav_height);
}

.landing-logo {
    background-image: url($logo_white);
    background-size: contain !important;
    width: $logo_width;
    height: $logo_height;
    margin-top: ($nav_height - $logo_height)/2;
    margin-bottom: ($nav_height - $logo_height)/2;
    &:hover{
        background-image: url($logo_blue);
    };
    @at-root .animate & {
        background-image: url($logo_black);
        &:hover{
            background-image: url($logo_blue);
        };
    }
}

.light-nav {
	@extend .nav;
	color: $white_color !important;
	a:hover {
		color: $blue_color;
	}
}