@import "_constants.scss";

@mixin reset-container {
	.container {
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
}
@media (min-width: 992px) {
	@include reset-container;
}

@media (min-width: 0px) {
	@include reset-container;
}

.width960 {
    max-width: 960px;
    margin: auto;
}

.row {
    margin: 0px;
    [class*=col-] {
        padding: 0px;
    }
}

.content {
    margin-top: -$nav_height;
    margin-bottom: 0px;
}