@import "_constants.scss";

@mixin reset-container {
	.container {
        margin: 0px;
        width: 100%;
        padding: 0px;
    }
}

@mixin vertically-align-cell {
    display: table-cell;
    vertical-align: middle;
}

@mixin vertically-align-div($height) {
    @include vertically-align-cell;
    height: $height;
    line-height: $height;
}

.centered-full-screen-element, .centered-full-width-element {
    @include vertically-align-cell;
}

@media (min-width: 992px) {
	@include reset-container;
}

@media (min-width: 0px) {
	@include reset-container;
}

.width960 {
    max-width: 960px;
    margin: auto;
}

.row {
    margin: 0px;
    [class*=col-] {
        padding: 0px;
    }
}

.content {
    margin-top: -$nav_height;
    margin-bottom: 0px;

    .scrolled & {
        margin-top: $nav_height;
    }
}

@mixin header($size, $family){
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
    font: {
        family: $family;
        size: $size !important;
        weight: bold !important;
    }
}

.header-1, h1 {
    @include header($h1_font_size, $h1_font);
    text-transform: uppercase;
}

.header-3, h3 {
    @include header($h3_font_size, $h_font);
}

.header-2, h2 {
    @include header($h2_font_size, $h_font);   
}

.normal-copy {
    font-family: 'PT Serif', serif !important;
    font-size: $normal_font !important;
    font-weight: normal !important;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
}

.centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.centered-fullscreen {
    @extend .centered;
    height: 100vh;
    width: 100vw;
}

.centered-fullwidth {
    @extend .centered;
    width: 100vw;
}

.section-padding {
    padding-top: $xl_padding;
    padding-bottom: $xl_padding;
}

.fullscreen {
    min-height: 100vh;
    width: 100vw;
}

.section {
    @extend .width960;
    @extend .section-padding;
    .row {
        padding: $sm_padding;
    }
    ul li{
        padding: $sm_padding;
    }
}

.donut_td {
    position: relative;
    margin: auto;
}

.show-element {
    display: block;
}

.hide-element {
    display: none;
}

.pirates-footer {
    border-top: $sm_border_thickness solid $separator_color;
}