@import "_overlays.scss";
@import "_images.scss";
@import "_standards.scss";
@import "_containers.scss";

.stationary {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    color: $white-color;
    line-height: normal;
    li {
    	padding: $sm_padding;
    }
}

.sec-steve-content ul li{
    padding: $sm_padding;
}

.carousel {
    .carousel-control, .carousel-indicators {
        z-index: 5555;
    }
}